<%- include("../includes/navbar") -%>
<header>
  <h1>Contact Form Responses</h1>
  <p>View all the responses revived from the contact from.</p>
</header>
<section class="container">
  <p>hello</p>
</section>
<%- include("../includes/footer") -%>
