<!DOCTYPE html>
<body>
  <footer>
    <div class="container">
      <div class="logo">
        <img src="/images/logo.png" alt="" srcset="" />
      </div>
      <div>
        <h3>SpacSec '21</h3>
        <p>
          1st International Conference on <br />Cyber Warfare, Security & Space
          Research
        </p>
      </div>
      <div class="footer-content">
        <div>
          <h5>Links</h5>
          <div class="footer-links">
            <div>
              <a href="/">Home</a>
              <a href="tracks">Tracks</a>
              <a href="speakers">Speakers</a>
              <a href="schedule">Schedule</a>
            </div>
            <div>
              <a href="author-dashboard">Author Dashboard</a>
              <a href="committee">Committee</a>
              <a href="contact">Contact</a>
              <a href="register">Register Now</a>
            </div>
          </div>
        </div>

        <div class="address">
          <h5>Address</h5>
          <a
            href="https://www.google.com/maps/place/Manipal+University+Jaipur/@26.8438552,75.5630456,17z/data=!3m1!4b1!4m5!3m4!1s0x396c4850e05bee9b:0x1b8d67402d4eb863!8m2!3d26.8438552!4d75.5652343"
            rel="noopner noreferer" 
            target="_BLANK"
            >Manipal University Jaipur,<br />Dehmi Kalan, Near GVK Toll
            Plaza,<br />Jaipur-Ajmer Expressway, Jaipur,<br />Rajasthan
            303007</a
          >
        </div>
        <div class="socials">
          <h5>Social Media</h5>
          <div class="social-links">
            <a rel="noopner noreferer" target="_BLANK" href="https://www.instagram.com/spacsec/"><i class="fab fa-instagram"></i></a>
            <a rel="noopner noreferer" target="_BLANK" href="https://www.linkedin.com/company/spacsec"><i class="fab fa-linkedin-in"></i></a>
            <a rel="noopner noreferer" target="_BLANK" href="https://www.facebook.com/spacsec"><i class="fab fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  
  <script>
        ScrollReveal({ reset: true });
    </script>
    <script src="js/ScrollRevealController.js"></script>
  <!-- Optional JavaScript -->
  <script src="js/ScrollNavTransparency.js"></script>
  <script src="js/SubmitButtonToast.js"></script>
  <script src="js/SmoothScroll.js"></script>
  <script src="js/ReadMore.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>