<section>
  <div class="dashboard-logos">
    <img src="/images/AuthorPageLogos/1.jpg" alt="Compendex" />
    <img src="/images/AuthorPageLogos/2.jpg" alt="dblp" />
    <img src="/images/AuthorPageLogos/3.jpg" alt="Google Scholar" />
    <img
      src="/images/AuthorPageLogos/4.jpg"
      alt="American Mathematical Society"
    />
    <img src="/images/AuthorPageLogos/5.jpg" alt="Scopus" />
    <img src="/images/AuthorPageLogos/6.jpg" alt="SJR" />
  </div>
</section>
