<h3>Contact Us</h3>
<div class="contact-details">
      <p>Would you prefer to call/email?</p>
      <p>
        Name Surname:
        <a
          href="tel:9999999999"
          style="text-decoration: underline; font-weight: 700"
          >+91 99999 99999
        </a>
      </p>
      <p>
        Name Surname:
        <a href="mailto:someone@example.com">someone@example.com</a>
      </p>
    </div>
    
  </div>
<div class="contact-form">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.8771332080746!2d75.56424188013695!3d26.843859969430675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4850e05bee9b%3A0x1b8d67402d4eb863!2sManipal%20University%20Jaipur!5e0!3m2!1sen!2sin!4v1592770046560!5m2!1sen!2sin"
      width="100%"
      height="100%"
      frameborder="0"
      style="border: 0"
      allowfullscreen="true"
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
  <div class="form">
    <form action="/" method="post">
      <div class="form-group">
        <label for="InputEmail1">Name</label>
        <input
          name="iname"
          type="text"
          class="form-control"
          id="InputName"
          aria-describedby="nameHelp"
          placeholder="Your Name"
        />
      </div>
      <div class="form-group">
        <label for="InputEmail">Email</label>
        <input
          name="iemail"
          type="email"
          class="form-control"
          id="InputEmail"
          aria-describedby="emailHelp"
          placeholder="name@domain.com"
        />
      </div>
      <div class="form-group">
        <label for="FormControlTextarea">Message</label>
        <textarea
          name="imessage"
          class="form-control"
          id="FormControlTextarea"
          rows="3"
          placeholder="Your Message"
        ></textarea>
      </div>
      <button type="submit" class="submit-btn btn btn btn-primary">
        Send Message
      </button>
    </form>
  </div>
</div>
