<section style="background-color: #f8faff; width: 100%">
  <h3>The Cadre!</h3>
  <div class="credits">
    <div class="credits-row">
      <div class="credits-card">
        <div class="card" style="width: 15rem">
          <img
            src="/images/Team/a1.jpeg"
            class="card-img-top"
            alt="..."
            style="width: 240px; height: 240px"
          />
          <div class="card-body">
            <h5 class="card-title">Ashima Garg</h5>
            <p class="card-text">
              Ambassador<br />4<sup>th</sup> Year Student<br />Manipal
              University Jaipur<br />Rajasthan,India
            </p>
            <div class="credits-social">
              <a
                rel="noopener-noreferrer"
                href="https://www.linkedin.com/in/ashima-garg-324a33193/"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="https://www.facebook.com/neetu.garg.1840"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-facebook"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="https://www.instagram.com/invites/contact/?i=192fjc035j7ol&utm_content=rrcyxc"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="credits-card">
        <div class="card" style="width: 15rem">
          <img
            src="/images/Team/wd1.jpeg"
            class="card-img-top"
            alt="..."
            style="width: 240px; height: 240px"
          />
          <div class="card-body">
            <h5 class="card-title">Aditya Khattar</h5>
            <p class="card-text">
              Web Developer<br />3<sup>rd</sup> Year Student<br />Manipal
              University Jaipur<br />Rajasthan,India
            </p>
            <div class="credits-social">
              <a
                rel="noopener-noreferrer"
                href="https://www.linkedin.com/in/aditya-khattar-03022001/"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="https://github.com/BugCrush"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-github"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="mailto:khattaraditya2001@gmail.com"
                class="credits-social-handle"
                target="_blank"
                ><i class="fas fa-paper-plane"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="credits-card">
        <div class="card" style="width: 15rem">
          <img
            src="/images/Team/wd2.jpg"
            class="card-img-top"
            alt="..."
            style="width: 240px; height: 240px"
          />
          <div class="card-body">
            <h5 class="card-title">Manavendra Sen</h5>
            <p class="card-text">
              Web Developer<br />3<sup>rd</sup> Year Student<br />Manipal
              University Jaipur<br />Rajasthan,India
            </p>
            <div class="credits-social">
              <a
                rel="noopener-noreferrer"
                href="https://www.linkedin.com/in/manavendrasen"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="https://github.com/manavendrasen"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-github"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="mailto:manavendra4288@gmail.com"
                class="credits-social-handle"
                target="_blank"
                ><i class="fas fa-paper-plane"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="credits-card">
        <div class="card" style="width: 15rem">
          <img
            src="/images/Team/gd1.jpeg"
            class="card-img-top"
            alt="..."
            style="width: 240px; height: 240px"
          />
          <div class="card-body">
            <h5 class="card-title">Nilind Kumar</h5>
            <p class="card-text">
              Graphic Designer<br />4<sup>th</sup> Year Student<br />Manipal
              University Jaipur<br />Rajasthan,India
            </p>
            <div class="credits-social">
              <a
                rel="noopener-noreferrer"
                href="https://www.linkedin.com/in/graviton/"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="https://github.com/Graviton5"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-github"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="https://www.instagram.com/graviton551/"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="credits-card">
        <div class="card" style="width: 15rem">
          <img
            src="/images/Team/cw1.jpeg"
            class="card-img-top"
            alt="..."
            style="width: 240px; height: 240px"
          />
          <div class="card-body">
            <h5 class="card-title">Nityaa Kalra</h5>
            <p class="card-text">
              Content Writer<br />3<sup>rd</sup> Year Student<br />Manipal
              University Jaipur<br />Rajasthan,India
            </p>
            <div class="credits-social">
              <a
                rel="noopener-noreferrer"
                href="https://www.linkedin.com/in/nityaakalra/"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="https://github.com/nityaak5"
                class="credits-social-handle"
                target="_blank"
                ><i class="fab fa-github"></i
              ></a>
              <a
                rel="noopener-noreferrer"
                href="mailto:nityaak5@gmail.com"
                class="credits-social-handle"
                target="_blank"
                ><i class="fas fa-paper-plane"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
