    <section style="background-color: #f8faff; width: 100%;">
        <h3>Ambassador</h3>
        <div class="credits">
            <div class="credits-row">
                <div class="credits-card">
                    <div class="card" style="width: 20rem">  
                        <img
                        src="/images/dummy.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">Ashima Garg</h5>
                            <p class="card-text">Student<br>Manipal University Jaipur<br>Rajasthan,India</p>
                            <div class="credits-social">
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fas fa-exclamation-circle"></i></a>
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h3>Web Development Team</h3>
        <div class="credits">
            <div class="credits-row">
                <div class="credits-card">
                    <div class="card" style="width: 20rem">  
                        <img
                        src="/images/dummy.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">Aditya Khattar</h5>
                            <p class="card-text">Sophomore Year Student<br>Manipal University Jaipur<br>Rajasthan,India</p>
                            <div class="credits-social">
                                <a href="https://www.linkedin.com/in/aditya-khattar-03022001/" class="credits-social-handle" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="https://github.com/BugCrush" class="credits-social-handle" target="_blank"><i class="fab fa-github"></i></a>
                                <a href="https://www.instagram.com/_khattarnaak_/" class="credits-social-handle" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="credits-card">
                    <div class="card" style="width: 20rem">  
                        <img
                        src="/images/dummy.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">Manavendra Sen</h5>
                            <p class="card-text">Sophomore Year Student<br>Manipal University Jaipur<br>Rajasthan,India</p>
                            <div class="credits-social">
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fab fa-github"></i></a>
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: #f8faff; width: 100%;">
        <h3>Graphic Designer</h3>
        <div class="credits">
            <div class="credits-row">
                <div class="credits-card">
                    <div class="card" style="width: 20rem">  
                        <img
                        src="/images/dummy.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">Nilind Kumar</h5>
                            <p class="card-text">Student<br>Manipal University Jaipur<br>Rajasthan,India</p>
                            <div class="credits-social">
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fas fa-exclamation-circle"></i></a>
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h3>Content Writer</h3>
        <div class="credits">
            <div class="credits-row">
                <div class="credits-card">
                    <div class="card" style="width: 20rem">  
                        <img
                        src="/images/dummy.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">Nityaa Kalra</h5>
                            <p class="card-text">Student<br>Manipal University Jaipur<br>Rajasthan,India</p>
                            <div class="credits-social">
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fas fa-exclamation-circle"></i></a>
                                <a href="#" class="credits-social-handle" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>