<div class="speakers container">
  <div class="speakers-row">
    <div class="speaker-card">
      <div class="card" style="width: 18rem">
        <img
          src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text.</p>
          <a href="#" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="speaker-card">
      <div class="card" style="width: 18rem">
        <img
          src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text.</p>
          <a href="#" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="speaker-card">
      <div class="card" style="width: 18rem">
        <img
          src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text.</p>
          <a href="#" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="speakers-row">
    <div class="speaker-card">
      <div class="card" style="width: 18rem">
        <img
          src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text.</p>
          <a href="#" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="speaker-card">
      <div class="card" style="width: 18rem">
        <img
          src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text.</p>
          <a href="#" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="speaker-card">
      <div class="card" style="width: 18rem">
        <img
          src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text.</p>
          <a href="#" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
