<%- include("./includes/navbar") -%>
<header >
  <div
    class="header-image"
    style="
      background-image: url('/images/BannerImages/AuthorDashboardBannerImage.jpeg');
    "
  ></div>
  <h1>Author Dashboard</h1>
  <p>
    The Terminal Steps before meeting us!
  </p>
</header>
<div class="container">
<div class="dashboard">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="submission-tab"
        data-toggle="tab"
        href="#submission"
        role="tab"
        >Paper Submission/<br>Redraft</a
      >
      <a
        class="nav-item nav-link"
        id="guidelines-tab"
        data-toggle="tab"
        href="#guidelines"
        role="tab"
        >Author Guidelines</a
      >
      <a
        class="nav-item nav-link"
        id="accomodation-tab"
        data-toggle="tab"
        href="#accomodation"
        role="tab"
        >Accomodation Details</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="container tab-pane fade show active"
      id="submission"
      role="tabpanel"
    >
      <div class="dashboard-info">
        <div>
          <div class="publication-info-1">
            <h3>Publication</h3>
            <p>
              All accepted and presented papers will be submitted for publication in:
              <br>
              “Communications in Computer and Information Science” (ISSN: 1865-0929).
            </p>
          </div>
          <div class="publication-info-2">
            <p>
              The book of this series is indexed in:
            </p>
            <%- include("./components/author-dashboard-logos.ejs") -%>
          </div>
          <div class="publication-info-3">
            <h3>Paper Submission/Redraft</h3>
            <p>
              In order to submit, edit and/or redraft your research paper(s), click 
              <a class="publication-link" rel="noopener-noreferrer" href="https://ocs.springer.com/ocs/home/SpacSec2021" target="_blank">here</a> 
              and you will be safely redirected to the Springer portal where all submissions will 
              be handled electronically via Online Conference System (OCS). You 
              can log in through the gateway using your credentials and can start right away!
            </p>
          </div>
          <div class="publication-info-4">
            <h5 style="text-align: center;">Submission Deadline: September 20, 2021</h5>
          </div>
          <br><br>
          <div class="publication-info-5">
            <h3>Important Downloads for Authors</h3>
            <p>Download your preferred Proceedings Template:</p>
            <br>
            <p>
              <a href="/downloadables/LaTeX2e+Proceedings+Templates+download.zip" class="m-2 p-2 btn btn-primary" download="LatexTemplate">LaTeX2e Template</a>
              <a href="/downloadables/Microsoft+Word+2003+Proceedings+Templates.zip" class="m-2 p-2 btn btn-primary" download="MSWord2003Template">Microsoft Word 2003 Template</a>
              <a href="/public/downloadables/Microsoft+Word+Proceedings+Templates.zip" class="m-2 p-2 btn btn-primary" download="MSWordTemplate">Microsoft Word Template</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container tab-pane fade"
      id="guidelines"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="dashboard-info">
        <div>
          <h3>Author Guidelines</h3>
          <p style="text-align: center;">
            Important Guidelines for the authors before submission of papers:
          </p>
          <p style="text-align: center;">
            <a href="/downloadables/Springer_Guidelines_for_Authors_of_Proceedings.pdf" class="m-2 p-2 btn btn-primary" target="_blank">Springer Guidelines</a>
          </p>
          <!--
          <p>
            <table class="dashboard-table">
              <tr>
                <th><h4>Before Submitting</h4></th>
                <th><h4>Preparing Manuscript</h4></th>
                <th><h4>After Acceptance</h4></th>
              </tr>
              <tr>
                <td>
                  <ul class="dashboard-list">
                    <li><h6><b><a class="dashboard-link" href="#d-1">Publication Policies</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-2">Conference Proceedings Papers</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-3">SPIE Guidelines for Ethical Publishing</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-4">Authorship</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-5">Plagiarism Screening</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-6">Use of Human Subjects and Animals</a></b></h6></li>
                  </ul>
                </td>
                <td>
                  <ul class="dashboard-list">
                    <li><h6><b><a class="dashboard-link" href="#d-7">Overview</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-8">Cover Letter</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-9">English Language Editing</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-10">Manuscript Types</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-11">Manuscript Templates</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-12">Parts of a Manuscript</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-13">Artwork Preparation</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-14">Tables</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-15">Video</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-16">Code and Data</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-17">Supplementary Material</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-18">Peer Review Process</a></b></h6></li>
                  </ul>
                </td>
                <td>
                  <ul class="dashboard-list">
                    <li><h6><b><a class="dashboard-link" href="#d-19">Publication Charges</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-20">Open Access</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-21">Copyright and Publication Licences</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-22">Author Proofs</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-23">Promote your Research</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-24">How to Cite</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-25">Article Sharing</a></b></h6></li>
                  </ul>
                </td>
              </tr>
            </table>

            <table class="dashboard-table-mobile">
              <tr>
                <th><h4>Before Submitting</h4></th>
              </tr>
              <tr>
                <td>
                  <ul class="dashboard-list">
                    <li><h6><b><a class="dashboard-link" href="#d-1">Publication Policies</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-2">Conference Proceedings Papers</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-3">SPIE Guidelines for Ethical Publishing</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-4">Authorship</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-5">Plagiarism Screening</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-6">Use of Human Subjects and Animals</a></b></h6></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th><h4>Preparing Manuscript</h4></th>
              </tr>
              <tr>
                <td>
                  <ul class="dashboard-list">
                    <li><h6><b><a class="dashboard-link" href="#d-7">Overview</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-8">Cover Letter</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-9">English Language Editing</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-10">Manuscript Types</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-11">Manuscript Templates</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-12">Parts of a Manuscript</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-13">Artwork Preparation</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-14">Tables</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-15">Video</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-16">Code and Data</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-17">Supplementary Material</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-18">Peer Review Process</a></b></h6></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th><h4>After Acceptance</h4></th>
              </tr>
              <tr>
                <td>
                  <ul class="dashboard-list">
                    <li><h6><b><a class="dashboard-link" href="#d-19">Publication Charges</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-20">Open Access</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-21">Copyright and Publication Licences</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-22">Author Proofs</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-23">Promote your Research</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-24">How to Cite</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-25">Article Sharing</a></b></h6></li>
                  </ul>
                </td>           
              </tr>
            </table>

            <div class="dashboard-sections">
              <div class="before-submitting">
                <h4 class="snip-titile">Before Submitting</h4>
                <div id="d-1">  
                  <h5 class="snip-titile">Publication Policies</h5>
                  <p class="dashboard-snip">The following requirements will permit you to determine if you can submit a paper to an SPIE journal.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Rights and Permissions: </span>Prior to submission, authors should obtain all clearances, authorizations, and licenses needed for submission and publication. Upon acceptance, authors are required to transfer copyright to SPIE or, in the case of open access papers published under a Creative Commons CC BY license, complete a license authorizing SPIE to publish the paper.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Significance: </span>Contributions should be substantial and significant in content. We may decline to publish papers that report only incremental progress. Although a paper may be correct and appropriate for an SPIE journal, if it does not demonstrate, in the estimation of the reviewers and editor, sufficient new and important information to warrant publication, or provide a comprehensive review of the current state of the art, it will be declined. Manuscripts that are commercial in nature will not be considered.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Originality: </span>Papers should describe the original work of the authors that has not been previously published in a refereed journal and is not currently under consideration for publication in another refereed journal. SPIE does not allow or sanction duplicate or concurrent submissions of a paper to more than one peer-reviewed journal. Any copying of text, figures, data, or results of other authors without giving credit is defined as plagiarism and is a breach of professional ethics. Such papers will be rejected and other penalties may be assessed. </p>
                  <p class="dashboard-snip"><span class="snip-bold">Double Publication: </span> Papers should not report work that the author has already published in another refereed journal. This is also an ethical violation. Such papers will be rejected and other penalties may be assessed.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Previously Rejected Papers: </span>If you are submitting a new version of a paper that was previously submitted to an SPIE journal and was declined, there is an entry on the submission form to indicate this. Follow the instructions there, and in a cover letter, indicate the paper number and title, and briefly describe the changes that have been made to warrant a new submission. Copies of rejected manuscripts are retained in the journal's editorial system.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Note: </span>SPIE journal policy is that after a reject decision, resubmission of a manuscript will normally only be accepted after three months have elapsed since the decision date. This policy is intended to ensure that adequate time is available between the reject decision and resubmission to address the major changes and rewrite that are normally required to address the concerns leading to a reject decision.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Rejection by Another Journal: </span>If the paper has been submitted to another journal and rejected, and if you believe that submission to one of SPIE's journals would be more appropriate, you are urged to take into account any comments or suggestion for improvement from your previous submission. Our reviewers will usually find the faults identified by previous reviewers.</p>
                </div>
                <div id="d-2">
                  <h5 class="snip-titile">Conference Proceedings Papers</h5>
                  <p class="dashboard-snip">Submissions to SPIE journals based on reports that have been submitted to or published in a conference proceedings should adhere to the following guidelines:</p>
                  <p class="dashboard-snip"><span class="snip-bold">Distinction between proceedings and journal papers: </span>Conference proceedings provide a vehicle for rapid reporting of ideas, techniques, and results. It is not uncommon for these reports to be somewhat incomplete and inconclusive. The purposes of proceedings papers range from snapshots of recent or continuing work to the reporting of a completed work or project. Journal papers are expected to be original, complete, and polished; to contain comparisons of theoretical and experimental results; and to include substantial conclusions and comprehensive references to other work.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Revision of conference proceedings manuscripts for journal submission: </span>SPIE publication policy permits manuscripts based partly or entirely on scientific content previously reported in SPIE proceedings to be submitted to SPIE journals. Furthermore, SPIE permits manuscripts based partly or entirely on scientific content previously reported in a non-SPIE conference to be submitted to SPIE journals so long as the copyright policies of the non-SPIE conference are properly adhered to (see below). In most cases, it is anticipated that the journal submission will represent a substantively expanded, refined, or otherwise revised manuscript relative to the proceedings paper to fully satisfy the standards of significance, originality, and presentation quality expected in a journal submission that is being considered for acceptance through the journal peer-review process. A manuscript submitted to an SPIE journal that incorporates minimal or no revisions over a prior or concurrent SPIE proceedings paper may be considered for publication in an SPIE journal and admitted into the peer-review process provided the submission fulfills the requirements of significance, originality, and completeness expected in a journal submission. SPIE does not consider publication of an accepted journal article based on a prior proceedings paper to constitute double publication.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Disclosure: </span>If a manuscript (or portion of a manuscript) was previously published in a conference proceedings or is under consideration for publication in a conference proceedings, this information must be disclosed when the manuscript is initially submitted to an SPIE journal. Authors should also reference or acknowledge the prior proceedings paper within the submitted journal article.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Copyright: </span> SPIE copyright policy permits authors to submit derivations of their proceedings papers to their journal of choice. Submissions to SPIE journals are permissible provided the other expectations described herein are satisfied. Authors submitting to journals published by other publishers should verify that publisher's copyright and submission policies. Authors wishing to submit papers that were presented at or published in a conference proceedings sponsored by organizations other than SPIE are responsible for adhering to the copyright policies related to that presentation or publication and are expected to disclose the prior presentation or publication history of the submission.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Journal submission format: </span>All proceedings manuscripts submitted to an SPIE journal must be prepared according to the guidelines provided here.</p>
                </div>  
                <div id="d-3">
                  <h5  class="snip-titile">SPIE Guidelines for Ethical Publishing</h5>
                  <p class="dashboard-snip">Authors are expected to read and abide by the <a class="snip-link" href="https://www.spiedigitallibrary.org/journals/code-of-ethics?SSO=1" target="_blank">SPIE Guidelines for Ethical Publishing.</a></p>
                  <p class="dashboard-snip">SPIE is a member of the Committee on Publication Ethics (COPE). </p>
                </div>
                <div id="d-4">
                  <h5 class="snip-titile">Authorship</h5>
                  <p class="dashboard-snip">Authorship should be limited to those who have made a significant contribution to the concept, design, execution or interpretation of the research study. All those who have made significant contributions should be offered the opportunity to be listed as authors. Other individuals who have contributed to the study should be acknowledged, but not identified as authors. The sources of financial support for the project should be disclosed.</p>
                  <p class="dashboard-snip">All collaborators share some degree of responsibility for any paper they co-author. Some co-authors have responsibility for the entire paper as an accurate, verifiable, report of the research. These include, for example, co-authors who are accountable for the integrity of the critical data reported in the paper, carry out the analysis, write the manuscript, present major findings at conferences, or provide scientific leadership for junior colleagues.</p>
                  <p class="dashboard-snip">Coauthors who make specific, limited, contributions to a paper are responsible for them, but may have only limited responsibility for other results. While not all coauthors may be familiar with all aspects of the research presented in their paper, all collaborations should have in place an appropriate process for reviewing and ensuring the accuracy and validity of the reported results, and all coauthors should be aware of this process.</p>
                  <p class="dashboard-snip">Every co-author should have the opportunity to review the manuscript before its submission. All co-authors have an obligation to provide prompt retractions or correction of errors in published works. Any individual unwilling or unable to accept appropriate responsibility for a paper should not be a co-author.</p>
                  <p class="dashboard-snip">Collaborations are expected to have a process to archive and verify the research record; to facilitate internal communication and allow all authors to be fully aware of the entire work; and respond to questions concerning the joint work and enable other responsible scientists to share the data. All members of a collaboration should be familiar with, and understand, the process.</p>
                  <p class="dashboard-snip">For guidance on preventing and resolving authorship problems, see “How to handle authorship disputes: a guide for new researchers” (a resource from the Committee on Publication Ethics).</p>
                </div>
                <div id="d-5">
                  <h5 class="snip-titile">Plagiarism Screening</h5>
                  <p class="dashboard-snip">SPIE defines plagiarism as the reuse of someone else's prior ideas, processes, results, or words without explicit attribution of the original author and source. Unauthorized use of another researcher’s unpublished data or findings without permission is considered to be a form of plagiarism even if the source is attributed. SPIE considers plagiarism in any form, at any level, to be unacceptable and a serious breach of professional conduct.</p>
                  <p class="dashboard-snip">SPIE uses the Crossref Similarity Check plagiarism screening service to detect instances of overlapping and similar text in submitted manuscripts. <a class="snip-link" href="https://www.crossref.org/services/similarity-check/" target="_blank">Crossref Similarity Check</a> is a multipublisher initiative to screen published and submitted content for originality.</p>
                </div>
                <div id="d-6">
                  <h5 class="snip-titile">Use of Human Subjects and Animals</h5>
                  <p class="dashboard-snip">SPIE expects all authors to observe internationally accepted principles and practices related to the ethical conduct of research involving the use of human subjects or animals. A brief statement must be included in the manuscript identifying the institutional oversight or licensing body that approved the studies. For studies involving human subjects, a statement must also be included confirming that informed consent was either obtained from all subjects or this requirement was waived by the oversight body.</p>
                  <p class="dashboard-snip">Authors must obtain written permission from the subject (or parent/guardian, if the subject is a minor child) to publish a photograph with an identifiable human face. Such photographs should be used only when scientifically relevant.</p>
                </div>
              </div>
              <br><br>
              <div class="preparing-manuscript">
                <h4 class="snip-titile">Preparing Manuscript</h4>
                <div id="d-7">
                  <h5 class="snip-titile">Overview</h5>
                  <p class="dashboard-snip">Manuscripts should be submitted in English, and the presentation should be as succinct as comprehension will permit. Manuscripts are reviewed and refereed. Those accepted for publication are edited for conformance to the journal's style.</p>
                  <p class="dashboard-snip">For peer review, manuscripts should be submitted with the figures/tables and their captions incorporated into the same file as the manuscript text. However, upon first revision or acceptance, authors will be asked to submit individual figure files and a properly formatted manuscript for use in production. The total combined limit for submission files is ~100 MB. </p>
                  <p class="dashboard-snip">SPIE journals typically allow only one round of major revision. Authors should carefully address all reviewer comments when submitting a revised manuscript. </p>
                  <p class="dashboard-snip">Claims of "new" or "novel" work or of being the "first" to report on a topic should be avoided unless they can be fully substantiated.</p>
                </div>
                <div id="d-8">
                  <h5 class="snip-titile">Cover Letter</h5>
                  <p class="dashboard-snip">Authors are required to include a separate cover letter with their submission explaining the significance and novelty of the work, the problem that is being addressed, and why the manuscript belongs in this journal. This cover letter sample (.docx) can be used as a template.</p>
                </div>
                <div id="d-9">
                  <h5 class="snip-titile">English Language Editing</h5>
                  <p class="dashboard-snip">If you are not a native English speaker, SPIE recommends that your manuscript be professionally edited prior to submission. SPIE authors will receive a 15% discount off the language editing services provided by Editage, an independent editorial service recommended by SPIE. Please note that use of this service does not guarantee editorial acceptance by an SPIE journal. You should avoid making additional changes to your manuscript after receiving the edited version, as grammatical errors maybe introduced. More detailed information can be found at <a class="snip-link" href="https://www.editage.com/spie/" target="_blank">editage.com/spie</a>.</p>
                </div>
                <div id="d-10">
                  <h5 class="snip-titile">Manuscript Types</h5>
                  <p class="dashboard-snip">The following manuscript types may be submitted to Optical Engineering:</p>
                  <p class="dashboard-snip"><span class="snip-bold">Letter: </span>A short technical communication of significant interest intended for rapid publication in the OE Letters section of the journal. The manuscript length may not exceed eight typeset journal pages. This corresponds to approximately 4000 words (excluding title, abstract, and author information); figures will further reduce the maximum word content. Estimate 250 words per figure.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Regular Paper: </span>A full-length manuscript presenting original work intended as a regular contribution to the journal.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Special Section Paper: </span>A full-length manuscript presenting original work intended for submission to a special topical section organized by a guest editor.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Review Paper: </span>An article reviewing a particular topic or field. Review papers are typically invited papers written by a highly regarded expert in the field. Review articles summarize progress made in a particular research or development area during a specified period and summarize the current state of the art.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Tutorial: </span>A tutorial is an introductory and systematic description of a technology or a research topic. Tutorials should be accessible to general readers of OE and may include homework problems.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Commentary: </span>A commentary paper is a brief technical communication presenting a scientific analysis or assessment of a topic of general interest to the readers of Optical Engineering, including comments on recent papers.</p>
                </div>
                <div id="d-11">
                  <h5 class="snip-titile">Manuscript Templates</h5>
                  <p class="dashboard-snip">To make your initial submission process as easy as possible, as well as to make it easier for the editors and referees to review your manuscript, for the initial submission we only require a single document containing the manuscript and figures, along with any supporting multimedia files. The document may be in MS Word, LaTeX, or PDF. The figures and their captions should be placed within the manuscript, near the first mention of each figure in the text. Individual figure files and source manuscript files will then be requested in one of the acceptable formats upon revision. When submitting a revised manuscript, you may upload a single .zip file containing the manuscript and figure files.</p>
                  <p class="dashboard-snip">The SPIE Journal template can be found on Overleaf, along with helpful LaTeX tutorials and a free introductory course for authors who are new to Overleaf and LaTeX. If you encounter any problems using the SPIE LaTeX template on Overleaf, please contact their support team via <a class="snip-link" href="https://www.overleaf.com/contact" target="_blank">https://www.overleaf.com/contact</a> and they will help you resolve the issue.</p>
                </div>
                <div id="d-12">
                  <h5 class="snip-titile">Parts of a Manuscript</h5>
                  <p class="dashboard-snip"><span class="snip-bold">Title</span></p>
                  <p class="dashboard-snip">The title of your paper should be descriptive and concise.</p>
                  <p class="dashboard-snip">
                    <ul class="snip-list">
                      <li>Acronyms should be spelled out.</li>
                      <li>Titles should not begin with the articles A, An, or The.</li>
                      <li>Avoid use of the words "new" or "novel" in the title.</li>
                    </ul>
                  </p>
                  <p class="dashboard-snip"><span class="snip-bold">Authors and Affiliations</span></p>
                  <p class="dashboard-snip">Provide full author names, including given name and family name. These names will be used in official databases and indexes. Initials are not allowed for the given name. Provide full affiliations, including institution, department, street address, city, postal code, and country. An email address should be provided for the corresponding author, and this person should be noted with a footnote.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Abstract</span></p>
                  <p class="dashboard-snip">The abstract should be a summary of the paper and not an introduction (200 words maximum). Because the abstract may be used in abstracting journals, it should be self-contained (i.e., no numerical references) and substantive in nature, presenting concisely the objectives, methodology used, results obtained, and their significance. Abstracts should not make claims of novelty, as publication implies novelty.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Plain-Language Summary</span></p>
                  <p class="dashboard-snip">The online submission form has an optional field to include a short plain-language summary of your research (200 words maximum) and its potential applications. (This item should not be included in the actual manuscript file; you will be asked to add it on the submission form.) Non-specialist readers should be able to understand the language used and the significance of the work. The summary should provide an accurate description of the importance of the research without overstating the potential impact of the paper. This research summary may be used by the journal for promotion of significant work.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Subject terms or keywords</span></p>
                  <p class="dashboard-snip">Keywords are required. Please provide 3-6 keywords related to your paper.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Text</span></p>
                  <p class="dashboard-snip">Type manuscript single-spaced, in a single column, using a readable font size (for example, 12-point type). Page numbers and line numbers must be included.<br>Note the following style points:</p>
                  <p class="dashboard-snip">
                    <ul class="snip-list">
                      <li>Journal style does not permit use of bold and italic font for emphasis; these styles should be reserved for formatting math. </li>
                      <li>Words should be spelled using American English. </li>
                      <li>Spell out all abbreviations and acronyms at first use. </li>
                      <li>Metric units should be used unless to do so is not feasible or would result in a serious loss of clarity. </li>
                      <li>Footnotes are not allowed.</li>
                    </ul>
                  </p>
                  <p class="dashboard-snip"><span class="snip-bold">Equations</span></p>
                  <p class="dashboard-snip">Create equations using MathType or Equation Editor 3.0. If using Word 2007 or later, the native equation editor can be used, but the document must be saved as .docx. When equations built with Microsoft's Editor are back-saved to the .doc format, they are converted to low-resolution graphics and will not be usable for composition. To use MathType or the old Equation Editor 3.0, you will need to select Object on the Text section of the Insert tab and then select MathType/Equation Editor in the drop-down menu. Variables should be written in italic font.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Biographies</span></p>
                  <p class="dashboard-snip">Biographies of authors are published with each paper. Manuscripts should include a brief professional biography not to exceed 75 words. Authors are also encouraged to update their online SPIE profile with their photograph and biography on our website at <a class="snip-link" href="http://spie.org/profiles/home" target="_blank">http://spie.org/profiles/home</a>. This profile will be linked to the published paper. </p>
                  <p class="dashboard-snip"><span class="snip-bold">Appendices</span></p>
                  <p class="dashboard-snip">Any figures, tables, or equations in Appendices should continue the numbering sequence established in the body of the paper. Appendices may not be comprised of only tables and figures; they must also include explanatory text and captions.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Acknowledgments/Funding Sources</span></p>
                  <p class="dashboard-snip">Use this section to identify people who have aided the authors in accomplishing the work presented and to acknowledge sources of funding. Include grant numbers and the full name of the funding body. Funding information will be deposited to <a class="snip-link" href="https://www.crossref.org/services/funder-registry/" target="_blank">FundRef</a>.</p>
                  <p class="dashboard-snip"><span class="snip-bold">References</span></p>
                  <p class="dashboard-snip">The purpose of a reference is to make the source easy for the reader to locate. To this end, each reference should provide as much information as is available. The basic elements of a reference include author names (including first initials), article/chapter title, journal or book title, volume number, issue number, page range, and year of publication. References are professionally copyedited on accepted manuscripts to conform to journal style, and authors do not need to spend a lot of time adapting references to the journal's reference format, so long as all of the required information is present.</p>
                  <p class="dashboard-snip">References to published literature should be listed at the end of the manuscript and numbered consecutively in the order of their citation in the text. In-text citations can use superscript or bracketed reference numbers. Private communications or unpublished reports should be treated as references. Click here for sample book, journal, and Internet references. For references with three or fewer authors, list all authors. For references with four or more authors, list the first author only followed by "et al."</p>
                </div>
                <div id="d-13">
                  <h5 class="snip-titile">Artwork Preparation</h5>
                  <p class="dashboard-snip"><span class="snip-bold">General Figure Guidelines: </span>Figures must be submitted via the online submission system in EPS, TIFF, PNG, or PDF format. We cannot accept application files, i.e., Corel Draw, Microsoft Word, etc. Number all figures in the order that they appear in the text. All figure parts/panels must be labeled (a), (b), etc. Submit high-resolution figures. The quality of the published figure is only as good as the original file—it cannot be improved by the typesetter.</p>
                  <p class="dashboard-snip">OE prohibits the use of the Lena (Lenna) image. Authors are advised to use other suitable images to illustrate and compare image processing algorithms. Authors who submit new manuscripts containing the Lena image will be asked to replace the image with a substitute image.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Figure Permissions: </span>If the figure is derived from a previously published image, the author must obtain permission from the original copyright holder, who may be the publisher and/or the author. Once permission is granted, the figure caption should include the line "Reproduced with permission, courtesy of [copyright owner]," or the publisher's required copyright statement. Many permissions can be obtained via the <a class="snip-link" href="http://www.copyright.com/get-permissions/" target="_blank">Copyright Clearance Center</a>.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Figure Requirements:</span></p>
                  <p class="dashboard-snip">
                    <table class="snip-table">
                      <tr>
                        <td class="parameter">File types</td>
                        <td>EPS, TIFF, PNG, PDF, or PS</td>
                      </tr>
                      <tr>
                        <td class="parameter">Dimensions</td>
                        <td>Figures will be reduced to a maximum width of 3 and 5/16 in. for two-column layout, and a maximum width of 6 and 3/4 in. for single-column layout.</td>
                      </tr>
                      <tr>
                        <td class="parameter">Background</td>
                        <td>Avoid graphs with shaded, transparent, or grid backgrounds. The background should be white.</td>
                      </tr>
                      <tr>
                        <td class="parameter">Colored lines</td>
                        <td>All line art should be distinguishable in grayscale. If colored lines are used, please add symbols or dot-dash textures to distinguish lines in all graphs.</td>
                      </tr>
                      <tr>
                        <td class="parameter">Line weight</td>
                        <td>Ensure that line weights will be 0.5 points or greater in the final published size. Light-colored lines do not show up when printed in grayscale.</td>
                      </tr>
                      <tr>
                        <td class="parameter">Alpha channel</td>
                        <td>No</td>
                      </tr>
                      <tr>
                        <td class="parameter">Compression</td>
                        <td>LZW with .tiff files</td>
                      </tr>
                      <tr>
                        <td class="parameter">Resolution</td>
                        <td>300-600 pixels per inch (ppi). Enlarge to 150% to check for jagged or blurry lines, indicating low resolution.</td>
                      </tr>
                      <tr>
                        <td class="parameter">Layers</td>
                        <td>Flattened, no layers</td>
                      </tr>
                      <tr>
                        <td class="parameter">Color mode</td>
                        <td>RGB or CMYK</td>
                      </tr>
                      <tr>
                        <td class="parameter">Text</td>
                        <td>No smaller than 8 pt. Use a clear and readable font such as Times, Arial, or Symbol.</td>
                      </tr>
                      <tr>
                        <td class="parameter">Captions</td>
                        <td>Do not include in image file. Captions should be listed separately within the manuscript and contain descriptions of all labeled figure parts (a), (b), etc.</td>
                      </tr>
                      <tr>
                        <td class="parameter">File size</td>
                        <td>Should not exceed 2-3 MB per figure</td>
                      </tr>
                      <tr>
                        <td class="parameter">Multipart figures</td>
                        <td>All parts should be included in one file, on one page. For example, if Figure 1 contains three parts (a, b, c), then all of the labeled parts should be combined in a single file for Figure 1.</td>
                      </tr>
                    </table>
                    <table class="snip-table-mobile">
                      <tr>
                        <td class="parameter">File types</td>
                        <td>EPS, TIFF, PNG, PDF, or PS</td>
                      </tr>
                      <tr>
                        <td class="parameter">Dimensions</td>
                        <td>
                          Figures will be reduced to a<br>
                          maximum width of 3 and 5/16<br>
                          in. for two-column layout,<br>
                          and a maximum width of 6 and<br>
                          3/4 in. for single-column<br>
                          layout.
                        </td>
                      </tr>
                      <tr>
                        <td class="parameter">Background</td>
                        <td>Avoid graphs with shaded,<br>
                          transparent, or grid<br>
                          backgrounds. The background<br>
                          should be white.
                        </td>
                      </tr>
                      <tr>
                        <td class="parameter">Colored lines</td>
                        <td>All line art should be<br>
                          distinguishable in grayscale.<br>
                          If colored lines are used,<br>
                          please add symbols or<br>
                          dot-dash textures to<br>
                          distinguish lines in all<br>
                          graphs.
                        </td>
                      </tr>
                      <tr>
                        <td class="parameter">Line weight</td>
                        <td>Ensure that line weights will<br>
                          be 0.5 points or greater in the<br>
                          final published size. Light<br>
                          colored lines do not show up<br>
                          when printed in grayscale.
                        </td>
                      </tr>
                      <tr>
                        <td class="parameter">Alpha channel</td>
                        <td>No</td>
                      </tr>
                      <tr>
                        <td class="parameter">Compression</td>
                        <td>LZW with .tiff files</td>
                      </tr>
                      <tr>
                        <td class="parameter">Resolution</td>
                        <td>300-600 pixels per inch (ppi).<br>
                          Enlarge to 150% to check for<br>
                          jagged or blurry lines,<br>
                          indicating low resolution.
                        </td>
                      </tr>
                      <tr>
                        <td class="parameter">Layers</td>
                        <td>Flattened, no layers</td>
                      </tr>
                      <tr>
                        <td class="parameter">Color mode</td>
                        <td>RGB or CMYK</td>
                      </tr>
                      <tr>
                        <td class="parameter">Text</td>
                        <td>No smaller than 8 pt. Use a<br>
                          clear and readable font such as<br>
                          Times, Arial, or Symbol.
                        </td>
                      </tr>
                      <tr>
                        <td class="parameter">Captions</td>
                        <td>Do not include in image file.<br>
                          Captions should be listed<br>
                          separately within the<br>
                          manuscript and contain<br>
                          descriptions of all labeled<br>
                          figure parts (a), (b),etc.
                        </td>
                      </tr>
                      <tr>
                        <td class="parameter">File size</td>
                        <td>Should not exceed 2-3 MB<br>per figure</td>
                      </tr>
                      <tr>
                        <td class="parameter">Multipart figures</td>
                        <td>All parts should be included in<br>
                          one file, on one page. For<br>
                          example, if Figure 1 contains<br>
                          three parts (a, b, c), then all of<br>
                          the labeled parts should be<br>
                          combined in a single file for<br>
                          Figure 1.
                        </td>
                      </tr>
                    </table>
                  </p>
                </div>
                <div id="d-14">
                  <h5 class="snip-titile">Tables</h5>
                  <p class="dashboard-snip">Tables should be built in Word, Excel (embedded in Word), or LaTeX. They should not contain graphics. Tables containing images must be numbered as figures. Colored fonts will not appear in the typeset version, so bold and italic should be used for emphasis instead. Explain use of bold or italic in the caption or table footnote. Do not use shading. Very large tables may be vertically oriented, or they may span multiple typeset pages. A caption must be included with the table.</p>
                </div>
                <div id="d-15">
                  <h5 class="snip-titile">Video</h5>
                  <p class="dashboard-snip">Research articles, letters, and reviews may include video files. Acceptable file formats, including MOV, MPG, and MP4, are playable using standard media players, such as VLC or Windows Media Player. Standard media players should be used to check file properties and image/sound quality prior to submission. Because the speed of internet connection varies, a recommended maximum size for each video file is approximately 12 MB.</p>
                  <p class="dashboard-snip">The video should be mentioned according to the following numbering convention: Video 1, Video 2, etc. If videos are included as part of an existing figure, they should be described and identified within the figure caption. The media file type and size should be included in parentheses at the end of the caption; e.g., (MPEG, 2.5 MB). For example:</p>
                  <p class="dashboard-snip"><span class="snip-example">Fig. 1 Confocal microscopic images of red blood cells in (a) an isotonic buffer (Video 1) and (b) a hypertonic buffer (Video 2) in three different viewing projections (Video 1, MPEG, 3.1 MB; Video 2, MPEG, 4.2 MB).</span></p>
                  <p class="dashboard-snip">Authors are encouraged to provide a representative still image for any stand-alone video. This image should be treated as a figure, numbered in sequence, and submitted in one of the accepted figure file formats. A caption describing the content of the video file is required, similar to a typical figure caption. For example:</p>
                  <p class="dashboard-snip"><span class="snip-example">Fig. 4 Photodynamic therapy response of the targeted region (MP4, 5 MB).</span></p>
                </div>
                <div id="d-16">
                  <h5 class="snip-titile">Code and Data</h5>
                  <p class="dashboard-snip"><span class="snip-bold">Code</span></p>
                  <p class="dashboard-snip">Software and code essential for reproducibility and reuse can be easily incorporated into your SPIE journal manuscript via <a class="snip-link" href="https://codeocean.com/signup/spie" target="_blank">Code Ocean</a>. Uniquely, Code Ocean allows you to upload the code, together with its dependencies and any data, so it is executable. Code Ocean supports more than 10 different programming languages. The Code Ocean platform provides open access to the published software code, which can be viewed and downloaded by everyone for free. Users can execute all published code in the cloud, without installing anything on their personal computer. Code Ocean is SPIE's recommended platform for sharing code, but other repositories, such as GitHub, Zenodo, etc., may be similarly used as a hosting platform.</p>
                  <p class="dashboard-snip">Manuscripts that include code, e.g., an algorithm implementation or analysis, hosted by an external website should mention that code and the name of the repository in the text of the paper or figure caption:</p>
                  <p class="dashboard-snip"><span class="snip-example">Example 1:<br>The archived version of the code can be freely accessed and executed through Code Ocean.  </span></p>
                  <p class="dashboard-snip"><span class="snip-example">Example 2:<br>The code used to generate the results and figures is available in a Github repository.</span></p>
                  <p class="dashboard-snip">If you intend to upload code to Code Ocean, you may do so before or after article acceptance, but prior to publication. Authors of papers that mention code/software on Code Ocean will receive instructions on how to link the code to the article in the author proofs.</p>
                  <p class="dashboard-snip"><span class="snip-bold">Data</span></p>
                  <p class="dashboard-snip">Authors may reference large datasets hosted on external websites (such as an official data center/archive or a university repository) by including a link to the site in the manuscript.</p>
                </div>
                <div id="d-17">
                  <h5 class="snip-titile">Supplementary Material</h5>
                  <p class="dashboard-snip">SPIE journals generally do not accept or publish supplementary materials. However, if certain types of supplementary material may benefit the reader's understanding of the work, they may be considered for publication (e.g., as part of an appendix or associated with a table or figure in the primary text). If you wish to include supplementary materials in your manuscript, please contact the journal staff at <a class="snip-link" href="mailto:journals@spie.org" target="_blank">journals@spie.org</a> for guidance.</p>
                </div>
                <div id="d-18">
                  <h5 class="snip-titile">Peer Review Process</h5>
                  <p class="dashboard-snip">All submissions are screened to ensure they meet basic standards of manuscript presentation and are also processed through Crossref Similarity Check. Manuscripts are then evaluated by the editor-in-chief (EiC) and/or a designated editorial board member (EBM) to ensure they meet the journal's rigorous scientific standards and are eligible for peer review. Manuscripts that meet these criteria are single-blind reviewed by at least two referees selected by the EBM based on their expertise in the topic. The referees provide detailed comments and recommendations to help the EBM arrive at the appropriate editorial decision. Revised manuscripts are evaluated by the EBM and are sent back to the original referees in the case of major revisions. The EiC has the ultimate authority to accept or reject a submission.</p>
                  <p class="dashboard-snip">Authors may appeal to the EBM or EiC to reconsider a rejection decision if they believe that the reviewers have seriously misjudged the manuscript. All appeals will be given careful consideration. The EBM and/or EiC will determine if further consideration is merited or if the original decision should stand.</p>
                  <p class="dashboard-snip">Submissions from editors or members of the editorial board are handled by an editorial board member who is not connected with the manuscript to ensure that such submissions receive an objective and unbiased evaluation. Information about the review process for such submissions is redacted from the view of any editors or editorial board members who are authors of the paper within the journal's online submission and review system.</p>
                </div>
              </div>
              <br><br>
              <div class="after-acceptance">
                <h4 class="snip-titile">After Acceptance</h4>
                <div id="d-19">
                  <h5 class="snip-titile">Publication Charges</h5>
                  <p class="dashboard-snip">There are no mandatory page charges. You can read more about the author choice open access fee on <a class="snip-link" href="https://www.spiedigitallibrary.org/journals/open-access?SSO=1" target="_blank">this page</a>.</p>
                </div>
                <div id="d-20">
                  <h5 class="snip-titile">Open Access</h5>
                  <p class="dashboard-snip">All SPIE journals offer open access publication. SPIE open access fees are kept low in recognition of the fact that many authors have limited funding available to cover publication expenses. Open access papers are published under a Creative Commons CC-BY license. <a class="snip-link" href="https://www.spiedigitallibrary.org/journals/open-access" target="_blank">Read more</a> about our open access program.</p>
                </div>
                <div id="d-21">
                  <h5 class="snip-titile">Copyright and Publication Licenses</h5>
                  <p class="dashboard-snip">Papers may be published under traditional SPIE copyright or the Creative Commons CC-BY attribution license.</p>
                  <p class="dashboard-snip">Authors who choose to pay the open access fee will retain copyright and the publisher (SPIE) will license these articles under a Creative Commons Attribution license (CC BY)Open PDF</p>
                  <p class="dashboard-snip">Authors who do not pay the open access fee will have their papers published under the SPIE Transfer of Copyright agreementOpen PDF.</p>
                </div>
                <div id="d-22">
                  <h5 class="snip-titile">Author Proofs</h5>
                  <p class="dashboard-snip">Accepted papers are immediately sent into production, where they are professionally copyedited and typeset in XML. It usually takes 10-12 days after acceptance to generate the first proof. The corresponding author will be notified by email when the proof is ready to review. Changes should be kept to a minimum. Additions or subtractions of large portions of text may require re-review, and numerous changes may incur article processing charges.</p>
                </div>
                <div id="d-23">
                  <h5 class="snip-titile">Promote Your Research</h5>
                  <p class="dashboard-snip"><span class="snip-bold">Here are some ways you can publicize your new article:</span></p>
                  <p class="dashboard-snip">
                    <ul class="snip-list">
                      <li>Share your article on social media.</li>
                      <li>Update your online CV and website to include a complete citation to the article.</li>
                      <li>Inform your institution that it has been published so that it may be added to any lists of publications they maintain and disseminate.</li>
                      <li>If your institution does not currently subscribe to this journal, please recommend it to your librarian PDF so that you and your colleagues will have access to its valuable content.</li>
                    </ul>
                  </p>
                </div>
                <div id="d-24"> 
                  <h5 class="snip-titile">How to Cite</h5>
                  <p class="dashboard-snip">SPIE Journals use six-digit citation identifiers (CIDs) in place of traditional page numbering. This allows an issue to build online one article at a time, while retaining the ability to segment tables of contents by article type or subject area. An example of the correct citation format for an Optical Engineering article is:</p>
                  <p class="dashboard-snip"><span class="snip-example">A. Smith and B. Jones, "Paper title," Opt. Eng. 44(2), 023407 (2005).</span></p>
                  <p class="dashboard-snip">In this fictitious example, the article by Smith and Jones was published in Optical Engineering in Issue 2 of Volume 44, as the seventh article published under section category 34.</p>
                  <p class="dashboard-snip">In the full-text PDF file available online and in the printed article, the CID appears on each printed page. Appended at the end of the CID is a hyphen followed by a consecutive page number. For the sample article above, the printed pages would carry this page numbering: 023407-1, 023407-2, 023407-3, etc. The hyphen and additional digits should not be used when citing or searching for an article.</p>
                </div>
                <div id="d-25">
                  <h5 class="snip-titile">Article Sharing</h5>
                  <p class="dashboard-snip">For details about publication licenses and the associated rights to share published articles, see the <a class="snip-link" href="https://www.spiedigitallibrary.org/article-sharing-policies" target="_blank">SPIE policies on article-sharing</a>.</p>
                </div>
              </div>
            </div>
          </p>
        -->
        </div>
      </div>
    </div>
    <div
      class="container tab-pane fade"
      id="accomodation"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      <div class="dashboard-info">
          <div>
            <h3>Accommodation Details</h3>
            <p>
              Coming soon.. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./includes/footer") -%>
