<%- include("./includes/navbar") -%>
<header class="dashboard-header">
  <h1>Author Dashboard</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores earum,
    nobis laudantium, voluptatum iure voluptatibus ea
  </p>
</header>
<div class="container">
<div class="dashboard">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="submission-tab"
        data-toggle="tab"
        href="#submission"
        role="tab"
        >Paper Submission/Redraft</a
      >
      <a
        class="nav-item nav-link"
        id="guidelines-tab"
        data-toggle="tab"
        href="#guidelines"
        role="tab"
        >Author Guidelines</a
      >
      <a
        class="nav-item nav-link"
        id="accomodation-tab"
        data-toggle="tab"
        href="#accomodation"
        role="tab"
        >Accomodation Details</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="container tab-pane fade show active"
      id="submission"
      role="tabpanel"
    >
      <div class="dashboard-info">
        <div>
          <h3>Paper Submission/Redraft</h3>
          <p>
            <a class="publication-link" href="https://easychair.org/conferences/?conf=spacsec21" target="_blank">HERE</a> 
          </p>
        </div>
      </div>
    </div>
    <div
      class="container tab-pane fade"
      id="guidelines"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="dashboard-info">
        <div>
          <h3>Author Guidelines</h3>
          <p>
            <table class="dashboard-table">
              <tr>
                <th><h4>Before Submitting --></h4></th>
                <th><h4>Preparing Manuscript --></h4></th>
                <th><h4>After Acceptance --></h4></th>
              </tr>
              <tr>
                <td>
                  <ul class="dashboard-list">
                    <li><h6><b><a class="dashboard-link" href="#d-1">Publication Policies</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-2">Conference Proceedings Papers</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-3">SPIE Guidelines for Ethical Publishing</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-4">Authorship</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-5">Plagiarism Screening</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-6">Use of Human Subjects and Animals</a></b></h6></li>
                  </ul>
                </td>
                <td>
                  <ul class="dashboard-list">
                    <li><h6><b><a class="dashboard-link" href="#d-7">Overview</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-8">Cover Letter</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-9">English Language Editing</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-10">Manuscript Types</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-11">Manuscript Templates</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-12">Parts of a Manuscript</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-13">Artwork Preparation</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-14">Tables</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-15">Video</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-16">Code and Data</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-17">Supplementary Material</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-18">Peer Review Process</a></b></h6></li>
                  </ul>
                </td>
                <td>
                  <ul class="dashboard-list">
                    <li><h6><b><a class="dashboard-link" href="#d-19">Publication Charges</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-20">Open Access</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-21">Copyright and Publication Licences</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-22">Author Proofs</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-23">Promote your Research</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-24">How to Cite</a></b></h6></li>
                    <li><h6><b><a class="dashboard-link" href="#d-25">Article Sharing</a></b></h6></li>
                  </ul>
                </td>
              </tr>
            </table>
          </p>
        </div>
      </div>
    </div>
    <div
      class="container tab-pane fade"
      id="accomodation"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      <div class="dashboard-info">
          <div>
            <h3>Accomodation Details</h3>
            <p>
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./includes/footer") -%>
