<%- include("./includes/navbar") -%>
<header>
  <h1>Committee</h1>
  <p>
    Meet The Creative Team
  </p>
</header>
<div class="member-designation"><h2><b>Core Committee Members</b></h2></div>
<div class="core-committee">
  <div class="core-committee-row">
    <div class="member">
      <p class="event-designation">Chief Patron</p>
      <p class="member-name"><b>Dr. K Ramnarayan</b></p>
      <p class="designation">Chairperson<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Patron</p>
      <p class="member-name"><b>Dr. Gopalkrishna K Prabhu</b></p>
      <p class="designation">President<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Co-Patron</p>
      <p class="member-name"><b>Prof. Niti Nipun Sharma</b></p>
      <p class="designation">Pro-President<br>Manipal University Jaipur</p>
    </div>
  </div>

  <div class="core-committee-row">
    <div class="member">
      <p class="event-designation">Co-Patron</p>
      <p class="member-name"><b>Dr. H Ravishankar Kamath</b></p>
      <p class="designation">Registrar<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Honorary Chair</p>
      <p class="member-name"><b>Dr. Jagannath Korody</b></p>
      <p class="designation">Director SCIT<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">General Chair</p>
      <p class="member-name"><b>Prof. Rajveer Singh Shekhawat</b></p>
      <p class="designation">Director SCIT<br>Manipal University Jaipur</p>
    </div>
  </div>

  <div class="core-committee-row">
    <div class="member">
      <p class="event-designation">General Chair</p>
      <p class="member-name"><b>Dr. Sandeep Joshi</b></p>
      <p class="designation">Department of Computer Science and Engineering<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Organizing Secretary</p>
      <p class="member-name"><b>Dr. Amit Nandal</b></p>
      <p class="designation">Department of Computer and Communication Engineering<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Organizing Secretary</p>
      <p class="member-name"><b>Mr. Amit Kumar Bairwa</b></p>
      <p class="designation">Department of Computer Science and Engineering<br>Manipal University Jaipur</p>
    </div>
  </div>
</div>


<%- include("./includes/footer") -%>
