<%- include("./includes/navbar") -%>
<header class="committee-header">
  <h1>Committee</h1>
  <p>Meet The Creative Team!</p>
</header>
<div class="committee">
  <section class="core-committee">
    <div class="container">
      <section>
        <h3>Core Committee Members</h3>
      </section>
      <div class="core-committee-row">
        <div class="member">
          <p class="event-designation">Chief Patron</p>
          <p class="member-name">Dr. K Ramnarayan</p>
          <p class="designation">Chairperson<br />Manipal University Jaipur</p>
        </div>
        <div class="member">
          <p class="event-designation">Patron</p>
          <p class="member-name">Dr. Gopalkrishna K Prabhu</p>
          <p class="designation">President<br />Manipal University Jaipur</p>
        </div>
        <div class="member">
          <p class="event-designation">Co-Patron</p>
          <p class="member-name">Prof. Niti Nipun Sharma</p>
          <p class="designation">
            Pro-President<br />Manipal University Jaipur
          </p>
        </div>
      </div>

      <div class="core-committee-row">
        <div class="member">
          <p class="event-designation">Co-Patron</p>
          <p class="member-name">Dr. H Ravishankar Kamath</p>
          <p class="designation">Registrar<br />Manipal University Jaipur</p>
        </div>
        <div class="member">
          <p class="event-designation">Honorary Chair</p>
          <p class="member-name">Dr. Jagannath Korody</p>
          <p class="designation">
            Dean FOE<br />Manipal University Jaipur
          </p>
        </div>
        <div class="member">
          <p class="event-designation">General Chair</p>
          <p class="member-name">Prof. Rajveer Singh Shekhawat</p>
          <p class="designation">
            Director SCIT<br />Manipal University Jaipur
          </p>
        </div>
      </div>

      <div class="core-committee-row">
        <div class="member">
          <p class="event-designation">General Chair</p>
          <p class="member-name">Dr. Sandeep Joshi</p>
          <p class="designation">
            Department of Computer Science and Engineering<br />Manipal
            University Jaipur
          </p>
        </div>
        <div class="member">
          <p class="event-designation">Organizing Secretary</p>
          <p class="member-name">Dr. Amita Nandal</p>
          <p class="designation">
            Department of Computer and Communication Engineering<br />Manipal
            University Jaipur
          </p>
        </div>
        <div class="member">
          <p class="event-designation">Organizing Secretary</p>
          <p class="member-name">Mr. Amit Kumar Bairwa</p>
          <p class="designation">
            Department of Computer Science and Engineering<br />Manipal
            University Jaipur
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="technical-committee container">
    <section>
      <h3>Technical Committee Members</h3>
    </section>
    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Adel Al-Jumaily</p>
        <p class="designation">
          University of Technology<br />Sydney<br />Australia
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Cihangir Tezcan</p>
        <p class="designation">
          Middle East Technical University at Ankara<br />Turkey
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Ekaterina Maro</p>
        <p class="designation">Southern Federal University<br />Russia</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Sedat Akleylek</p>
        <p class="designation">
          Ondokuz Mayis University and Institute of Applied Mathematics<br />Turkey
        </p>
      </div>
      <div class="member">
        <p class="member-name">Prof. Selwyn Piramuthu</p>
        <p class="designation">
          Department of Information Systems and Operations Management<br />University
          of Florida<br />Warrington College of Business<br />USA
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Rajeev Tiwari</p>
        <p class="designation">UPES<br />Dehradun<br />India</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Dmitry Namiot</p>
        <p class="designation">
          Faculty of Computational Mathematics and Cybernetics<br />Lomonosov
          Moscow State University<br />Russia
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Jibitesh Mishra</p>
        <p class="designation">
          College of Engineering & Technology<br />Bhubaneswar<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Victor Govindaswamy</p>
        <p class="designation">
          Department of Computer Science<br />Concordia University Chicago
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Thangadurai N</p>
        <p class="designation">
          Jain University<br />Bengaluru<br />Karnataka<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">Prof. Amitabha Chakrabarty</p>
        <p class="designation">Dhaka<br />Bangladesh</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Muthukumar. S</p>
        <p class="designation">
          National Institute Of Technology<br />Puducherry<br />India
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Nisheeth Joshi</p>
        <p class="designation">Banasthali University<br />India</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Rasib Khan</p>
        <p class="designation">
          Dept. of Computer Science<br />Northern Kentucky University<br />Cayman
          Islands
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Shivnath Ghosh</p>
        <p class="designation">
          Maharana Pratap College Of Technology<br />Gwalior<br />India
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Ekaterina Maro</p>
        <p class="designation">Southern Federal University<br />Russia</p>
      </div>
      <div class="member">
        <p class="member-name">Prof. (Dr.) Aniurakt Williamson</p>
        <p class="designation">SMCET<br />Phagi<br />Jaipur</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. S. Leela Lakshmi</p>
        <p class="designation">SKIT<br />Srikalahasthi<br />India</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Saurabh Mukherjee</p>
        <p class="designation">Banasthali Vidyapeeth<br />India</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Mohiuddin Ahmed</p>
        <p class="designation">
          School of Engineering and Information Technology<br />University of
          New South Wales<br />Australia
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Anil Kumar Gupta</p>
        <p class="designation">ITIL V3, prince2<br />Pune Area<br />India</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Muhammad Mostafa Monowar</p>
        <p class="designation">
          Dept. of Information Technology<br />King Abdul-Aziz University<br />Jeddah<br />Saudi
          Arabia
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr Sanjay Bansal</p>
        <p class="designation">
          Acropolis Institute Of Technology & Research<br />Indore Area<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">Prof. Jagannathan Sarangapani</p>
        <p class="designation">
          Electrical and Computer Engineering<br />Missouri University Of
          Science and Technology<br />Rolla<br />United States
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Bk Verma</p>
        <p class="designation">KVMT Engineering College<br />India</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Muhammad Mostafa Monowar</p>
        <p class="designation">
          Dept. of Information Technology King Abdul-Aziz University<br />Jeddah<br />Saudi
          Arabia
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Nurilla Avazov</p>
        <p class="designation">Inha University<br />Incheon<br />South Korea</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Jayanti Goyal</p>
        <p class="designation">
          Kanoria Girls PG College<br />Jaipur<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Nurilla Avazov</p>
        <p class="designation">Inha University<br />Incheon<br />South Korea</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Abhineet Anand</p>
        <p class="designation">
          Galgotias University<br />Uttar Pradesh<br />India
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Sukanta Ganguly</p>
        <p class="designation">
          Entryless, San Jose<br />California<br />United States
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. P K Gupta</p>
        <p class="designation">
          Post Doctorate From University Of Pretoria, South Africa<br />Sr.
          Assistant Professor At Jaypee University Of IT<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">M. M. Hafizur Rahman</p>
        <p class="designation">
          Dept. of Computer Science<br />International Islamic University<br />Malaysia
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. M. Shanmugasundaram</p>
        <p class="designation">
          R.M.K. College Of Engineering And Technology<br />Chennai<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Xianglin Wei</p>
        <p class="designation">
          Nanjing Telecommunication Technology Research Institute<br />China
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Nilesh Bhaskarrao Bahadure</p>
        <p class="designation">
          Associate Professor and Dean Research & Development at BIT<br />Raipur<br />India
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Elena Basan</p>
        <p class="designation">Southern Federal University<br />Russia</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Maxim Anikeev</p>
        <p class="designation">Southern Federal University<br />Russia</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Pushpendra Singh</p>
        <p class="designation">JIIT<br />Uttar Pradesh<br />India</p>
      </div>
    </div>
    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Parag Narkhede</p>
        <p class="designation">Symbiosis Institute of Technology<br />Pune</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Snehanshu Shekhar</p>
        <p class="designation">BIT Mesra<br />India</p>
      </div>
      <div class="member">
        <p class="member-name">Ms. Ekaterina Pakulova</p>
        <p class="designation">Southern Federal University<br />Russia</p>
      </div>
    </div>
    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. G. S. Mahapatra</p>
        <p class="designation">
          National Institute Of Technology<br />Puducherry<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Mohiuddin Ahmed</p>
        <p class="designation">
          School of Engineering and Information Technology<br />University of
          New South Wales<br />Australia
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Wilfred Lin</p>
        <p class="designation">PuraPharm<br />Hong Kong</p>
      </div>
    </div>
    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Syed Hassan Ahmed</p>
        <p class="designation">
          Kyungpook National University<br />Daegu<br />South Korea
        </p>
      </div>
      <div class="member">
        <p class="member-name">Prof. Eduard Babulak</p>
        <p class="designation">Fort Hays State University<br />Hays<br />USA</p>
      </div>
      <div class="member">
        <p class="member-name">Prof. Carlos Eduardo de Barros Paes</p>
        <p class="designation">PUC-SP<br />Sao Paulo<br />Brazil</p>
      </div>
    </div>
    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Aynur Unal</p>
        <p class="designation">San Francisco Bay<br />UK</p>
      </div>
    </div>
  </section>

  <section class="advisory-committee">
    <div class="container">
      <section>
        <h3>Technical Advisory Members</h3>
      </section>
      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Prof. Jalel Ben Othman</p>
          <p class="designation">Institute of Galilée<br />France</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Adel Al-Jumaily</p>
          <p class="designation">
            University of Technology<br />Sydney<br />Australia
          </p>
        </div>
        <div class="member">
          <p class="member-name">Prof. Krithi Ramamritham</p>
          <p class="designation">IIT Bombay<br />India</p>
        </div>
      </div>
      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Prof. Lei Zhang</p>
          <p class="designation">
            East China Normal University (ECNU)<br />Shanghai<br />China
          </p>
        </div>
        <div class="member">
          <p class="member-name">Prof. Edmond C. Prakash</p>
          <p class="designation">
            University of Westminster<br />United Kingdom
          </p>
        </div>
        <div class="member">
          <p class="member-name">Prof. D. M. Akbar Hussain</p>
          <p class="designation">Aalborg University<br />Denmark</p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Prabhaker Mateti</p>
          <p class="designation">Russ Engineering Center<br />Dayton</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Vijay Laxmi</p>
          <p class="designation">
            Malaviya National Institute of Technology<br />Jaipur<br />India
          </p>
        </div>
        <div class="member">
          <p class="member-name">Mr. Olariu Stephan</p>
          <p class="designation">
            Old Dominion University<br />Norfolk<br />U.S.A.
          </p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Atilla Elci Aksaray</p>
          <p class="designation">Aksaray University<br />Aksaray<br />Turkey</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Amlan Chakrabaarti</p>
          <p class="designation">University of Calcutta<br />India</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Mouhamed Abdulla</p>
          <p class="designation">
            Chalmers University of Technology<br />Gothenburg<br />Sweden
          </p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Mr. Gowrish B</p>
          <p class="designation">
            Indian Space Research Organization<br />Bengaluru<br />Karnataka<br />India
          </p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Alok Kumar</p>
          <p class="designation">
            DRDO<br />Bangalore<br />Karnataka<br />India
          </p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Lei (Leon) SHU</p>
          <p class="designation">
            EAI-Endorsed Transactions on Industrial Networks and Intelligent
            Systems, Maoming<br />Guangdong<br />China
          </p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Muthukumar Subramanyam</p>
          <p class="designation">
            National Institute of Technology<br />Puducherry<br />India
          </p>
        </div>
        <div class="member">
          <p class="member-name">Mr. Syed Nisar Bukhari</p>
          <p class="designation">
            NIELIT Srinagar<br />MeitY<br />Govt. Of India
          </p>
        </div>
        <div class="member">
          <p class="member-name">Mr. Bert-Jan van Beijnum</p>
          <p class="designation">University of Twente<br />Netherlands</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3>Sponsors</h3>
  </section>
  <section class="sponsors">
    <div class="sponsor-row">
      <div class="sponsor">
        <p class="sponsor-description">Technical Sponsor</p>
        <a class="sponsor-link" href="https://www.springer.com/" target="_blank"
          ><img
            class="sponsor-img-1"
            src="#"
            alt="..."
        /></a>
        <p class="sponsor-name">-><-</p>
      </div>
      <div class="sponsor">
        <p class="sponsor-description">Financial Sponsor</p>
        <a
          class="sponsor-link"
          href="https://jaipur.manipal.edu/"
          target="_blank"
          ><img
            class="sponsor-img-2"
            src="/images/financial-sponsor.png"
            alt="Manipal University Jaipur"
        /></a>
        <p class="sponsor-name">Manipal University Jaipur</p>
      </div>
    </div>
  </section>
</div>
<%- include("./includes/footer") -%>
