<%- include("./includes/navbar") -%>
<header>
  <div
    class="header-image"
    style="
      background-image: url('https://source.unsplash.com/uj3hvdfQujI/1920x1080');
    "
  ></div>
  <h1>Committee</h1>
  <p>Meet The Creative Team!</p>
</header>
<div class="committee">
  <section class="core-committee">
    <div class="container">
      <section>
        <h3>Core Committee Members</h3>
      </section>
      <div class="core-committee-row">
        <div class="member">
          <p class="event-designation">Chief Patron</p>
          <p class="member-name">Dr. K Ramnarayan</p>
          <p class="designation">Chairperson<br />Manipal University Jaipur</p>
        </div>
        <div class="member">
          <p class="event-designation">Patron</p>
          <p class="member-name">Dr. Gopalkrishna K Prabhu</p>
          <p class="designation">President<br />Manipal University Jaipur</p>
        </div>
        <div class="member">
          <p class="event-designation">Co-Patron</p>
          <p class="member-name">Prof. Niti Nipun Sharma</p>
          <p class="designation">
            Pro-President<br />Manipal University Jaipur
          </p>
        </div>
      </div>

      <div class="core-committee-row">
        <div class="member">
          <p class="event-designation">Co-Patron</p>
          <p class="member-name">Dr. H Ravishankar Kamath</p>
          <p class="designation">Registrar<br />Manipal University Jaipur</p>
        </div>
        <div class="member">
          <p class="event-designation">Honorary Chair</p>
          <p class="member-name">Dr. Jagannath Korody</p>
          <p class="designation">Dean FOE<br />Manipal University Jaipur</p>
        </div>
        <div class="member">
          <p class="event-designation">General Chair</p>
          <p class="member-name">Prof. Rajveer Singh Shekhawat</p>
          <p class="designation">
            Director SCIT<br />Manipal University Jaipur
          </p>
        </div>
      </div>

      <div class="core-committee-row">
        <div class="member">
          <p class="event-designation">General Chair</p>
          <p class="member-name">Dr. Sandeep Joshi</p>
          <p class="designation">
            Department of Computer Science and Engineering<br />Manipal
            University Jaipur
          </p>
        </div>
        <div class="member">
          <p class="event-designation">Organizing Secretary</p>
          <p class="member-name">Dr. Amita Nandal</p>
          <p class="designation">
            Department of Computer and Communication Engineering<br />Manipal
            University Jaipur
          </p>
        </div>
        <div class="member">
          <p class="event-designation">Organizing Secretary</p>
          <p class="member-name">Mr. Amit Kumar Bairwa</p>
          <p class="designation">
            Department of Computer Science and Engineering<br />Manipal
            University Jaipur
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="technical-committee container">
    <section>
      <h3>Technical Committee</h3>
    </section>
    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Avatar Singh</p>
        <p class="designation">
          National Institute Of Technology<br />Jalandhar
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Prashant Kumar</p>
        <p class="designation">
          National Institute Of Technology<br />Jalandhar
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Saurabh Kumar Pandey</p>
        <p class="designation">Indian Institute Of Technology<br />Patna</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Rahul Dixit</p>
        <p class="designation">
          Indian Institute of Information Technology<br />Pune
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Basant Agarwal</p>
        <p class="designation">
          Indian Institute of Information Technology<br />Kota
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Shashank Gupta</p>
        <p class="designation">BITS<br />Pilani</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Vigneswaran T</p>
        <p class="designation">VIT<br />Vellore</p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Deepika Koundal</p>
        <p class="designation">UPEC<br />Dehrdun</p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Somya Ranjan Sahoo</p>
        <p class="designation">VIT<br />Andhra</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Kalpana Dhaka</p>
        <p class="designation">
          Indian Institute of Information Technology<br />Guwahati
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Nishtha Kesswani</p>
        <p class="designation">Central University Rajasthan<br />Rajasthan</p>
      </div>

      <div class="member">
        <p class="member-name">Dr. A. Nagaraju</p>
        <p class="designation">Central University Rajasthan<br />Rajasthan</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Mr. Ravi Saharan</p>
        <p class="designation">Central University Rajasthan<br />Rajasthan</p>
      </div>

      <div class="member">
        <p class="member-name">Mr. Krishna Kumar Sharma</p>
        <p class="designation">University of Kota<br />Kota</p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Narpat Singh Shekhawat</p>
        <p class="designation">
          Govt. Engineering College Bikaner<br />Rajasthan
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Maninder Singh Nehra</p>
        <p class="designation">
          Govt. Engineering College Bikaner<br />Rajasthan
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Subhash Panwar</p>
        <p class="designation">
          Govt. Engineering College Bikaner<br />Rajasthan
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Chhagan Charan</p>
        <p class="designation">
          National Institute Of Technology<br />Kurukshetra
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Saurabh Kumar</p>
        <p class="designation">
          National Institute Of Technology<br />Hamirpur
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Prakash Choudhary</p>
        <p class="designation">
          National Institute Of Technology<br />Hamirpur
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Nitin Gupta</p>
        <p class="designation">
          National Institute Of Technology<br />Hamirpur
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Pardeep Singh</p>
        <p class="designation">
          National Institute Of Technology<br />Hamirpur
        </p>
      </div>

      <div class="member">
        <p class="member-name">Mr. Rajeev Kumar</p>
        <p class="designation">
          National Institute Of Technology<br />Hamirpur
        </p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Satyasai Jagannath Nanda</p>
        <p class="designation">MNIT<br />Jaipur</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Amit Mahesh Joshi</p>
        <p class="designation">MNIT<br />Jaipur</p>
      </div>

      <div class="member">
        <p class="member-name">Dr. Kuldeep Singh</p>
        <p class="designation">MNIT<br />Jaipur</p>
      </div>

      <div class="member">
        <p class="member-name">Dr. P. Sakthivel</p>
        <p class="designation">Anna University<br />Chennai</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Urvashi Bansal</p>
        <p class="designation">
          National Institute Of Technology<br />Jalandhar
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Nurilla Avazov</p>
        <p class="designation">Inha University<br />Incheon<br />South Korea</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Abhineet Anand</p>
        <p class="designation">
          Galgotias University<br />Uttar Pradesh<br />India
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Sukanta Ganguly</p>
        <p class="designation">
          Entryless, San Jose<br />California<br />United States
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. P K Gupta</p>
        <p class="designation">
          Post Doctorate From University Of Pretoria, South Africa<br />Sr.
          Assistant Professor At Jaypee University Of IT<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">M. M. Hafizur Rahman</p>
        <p class="designation">
          Dept. of Computer Science<br />International Islamic University<br />Malaysia
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. M. Shanmugasundaram</p>
        <p class="designation">
          R.M.K. College Of Engineering And Technology<br />Chennai<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Xianglin Wei</p>
        <p class="designation">
          Nanjing Telecommunication Technology Research Institute<br />China
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Nilesh Bhaskarrao Bahadure</p>
        <p class="designation">
          Associate Professor and Dean Research & Development at BIT<br />Raipur<br />India
        </p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Elena Basan</p>
        <p class="designation">Southern Federal University<br />Russia</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Maxim Anikeev</p>
        <p class="designation">Southern Federal University<br />Russia</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Pushpendra Singh</p>
        <p class="designation">JIIT<br />Uttar Pradesh<br />India</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Parag Narkhede</p>
        <p class="designation">Symbiosis Institute of Technology<br />Pune</p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Snehanshu Shekhar</p>
        <p class="designation">BIT Mesra<br />India</p>
      </div>
      <div class="member">
        <p class="member-name">Ms. Ekaterina Pakulova</p>
        <p class="designation">Southern Federal University<br />Russia</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. G. S. Mahapatra</p>
        <p class="designation">
          National Institute Of Technology<br />Puducherry<br />India
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Mohiuddin Ahmed</p>
        <p class="designation">
          School of Engineering and Information Technology<br />University of
          New South Wales<br />Australia
        </p>
      </div>
      <div class="member">
        <p class="member-name">Dr. Wilfred Lin</p>
        <p class="designation">PuraPharm<br />Hong Kong</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Syed Hassan Ahmed</p>
        <p class="designation">
          Kyungpook National University<br />Daegu<br />South Korea
        </p>
      </div>
      <div class="member">
        <p class="member-name">Prof. Eduard Babulak</p>
        <p class="designation">Fort Hays State University<br />Hays<br />USA</p>
      </div>
      <div class="member">
        <p class="member-name">Prof. Carlos Eduardo de Barros Paes</p>
        <p class="designation">PUC-SP<br />Sao Paulo<br />Brazil</p>
      </div>
    </div>

    <div class="technical-committee-row">
      <div class="member">
        <p class="member-name">Dr. Aynur Unal</p>
        <p class="designation">San Francisco Bay<br />UK</p>
      </div>
      
    </div>
  </section>

  <section class="advisory-committee">
    <div class="container">
      <section>
        <h3>International Advisory Committee</h3>
      </section>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Ninoslav Marina</p>
          <p class="designation">UIST<br />North Macedonia</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Eustrat Zupa</p>
          <p class="designation">RIT<br />USA</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Monika Polak</p>
          <p class="designation">RIT<br />USA</p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Tomas Sochor</p>
          <p class="designation">OU<br />Czech Republic</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Eva Volna</p>
          <p class="designation">OU<br />Czech Republic</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Dijana C Bogatinoska</p>
          <p class="designation">UIST<br />North Macedonia</p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Aleksander Karadimche</p>
          <p class="designation">UIST<br />North Macedonia</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Hamurabhi Gamboa Rosales</p>
          <p class="designation">UAZ<br />Mexico</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Jorge I. Galvan-Tejada</p>
          <p class="designation">UAZ<br />Mexico</p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Carlos E. Galvan-Tejada</p>
          <p class="designation">UAZ<br />Mexico</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Arturo Moreno-Baez</p>
          <p class="designation">UAZ<br />Mexico</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Huizilopoztli Luna-Garcia</p>
          <p class="designation">UAZ<br />Mexico</p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Max Henrique Machado Costa</p>
          <p class="designation">University of Campinas<br />Brazil</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Jaime Portugheis</p>
          <p class="designation">Cidade Universitária<br />Brazil</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Cesar Collazos</p>
          <p class="designation">Universidad del Cauca<br />Colombia</p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Johnny Öberg</p>
          <p class="designation">
            KTH Royal Institute of Technology<br />Sweden
          </p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Natasa Sladoje</p>
          <p class="designation">Uppsala University<br />Sweden</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Oliver Jokish</p>
          <p class="designation">
            Leipzig University of Telecommunications<br />Germany
          </p>
        </div>
      </div>

      <div class="advisory-committee-row">
        <div class="member">
          <p class="member-name">Dr. Reza Malekin</p>
          <p class="designation">Malmö University<br />Sweden</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Pushpendu Kar</p>
          <p class="designation">University of Nottingham<br />China Campus</p>
        </div>
        <div class="member">
          <p class="member-name">Dr. Zizung Yoon</p>
          <p class="designation">TU Berlin</p>
        </div>
      </div>

    </div>
  </section>

  <section>
    <h3>Sponsors</h3>
  </section>
  <section class="sponsors">
    <div class="sponsor-row">
      <!-- <div class="sponsor">
        <p class="sponsor-description">Technical Sponsor</p>
        <a class="sponsor-link" href="https://www.springer.com/" target="_blank"
          ><img class="sponsor-img-1" src="#" alt="..."
        /></a>
        <p class="sponsor-name">-><-</p>
      </div> -->
      <div class="sponsor">
        <p class="sponsor-description">Financial Sponsor</p>
        <a
          class="sponsor-link"
          href="https://jaipur.manipal.edu/"
          target="_blank"
          ><img
            class="sponsor-img-2"
            src="/images/financial-sponsor.png"
            alt="Manipal University Jaipur"
        /></a>
        <p class="sponsor-name">Manipal University Jaipur</p>
      </div>
    </div>
  </section>
</div>
<%- include("./includes/footer") -%>
