<%- include("./includes/navbar") -%>
<header>
  <h1>Committee</h1>
  <p>
    Meet The Creative Team
  </p>
</header>
<div class="member-designation"><h2><b>Core Committee Members</b></h2></div>
<div class="core-committee">
  <div class="core-committee-row">
    <div class="member">
      <p class="event-designation">Chief Patron</p>
      <p class="member-name"><b>Dr. K Ramnarayan</b></p>
      <p class="designation">Chairperson<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Patron</p>
      <p class="member-name"><b>Dr. Gopalkrishna K Prabhu</b></p>
      <p class="designation">President<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Co-Patron</p>
      <p class="member-name"><b>Prof. Niti Nipun Sharma</b></p>
      <p class="designation">Pro-President<br>Manipal University Jaipur</p>
    </div>
  </div>

  <div class="core-committee-row">
    <div class="member">
      <p class="event-designation">Co-Patron</p>
      <p class="member-name"><b>Dr. H Ravishankar Kamath</b></p>
      <p class="designation">Registrar<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Honorary Chair</p>
      <p class="member-name"><b>Dr. Jagannath Korody</b></p>
      <p class="designation">Director SCIT<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">General Chair</p>
      <p class="member-name"><b>Prof. Rajveer Singh Shekhawat</b></p>
      <p class="designation">Director SCIT<br>Manipal University Jaipur</p>
    </div>
  </div>

  <div class="core-committee-row">
    <div class="member">
      <p class="event-designation">General Chair</p>
      <p class="member-name"><b>Dr. Sandeep Joshi</b></p>
      <p class="designation">Department of Computer Science and Engineering<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Organizing Secretary</p>
      <p class="member-name"><b>Dr. Amit Nandal</b></p>
      <p class="designation">Department of Computer and Communication Engineering<br>Manipal University Jaipur</p>
    </div>
    <div class="member">
      <p class="event-designation">Organizing Secretary</p>
      <p class="member-name"><b>Mr. Amit Kumar Bairwa</b></p>
      <p class="designation">Department of Computer Science and Engineering<br>Manipal University Jaipur</p>
    </div>
  </div>
</div>

<div class="member-designation"><h2><b>Technical Committee Members</b></h2></div>
<div class="technical-committee">
  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Adel Al-Jumaily</b></p>
      <p class="designation">University of Technology<br>Sydney<br>Australia</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Cihangir Tezcan</b></p>
      <p class="designation">Middle East Technical University at Ankara<br>Turkey</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Ekaterina Maro</b></p>
      <p class="designation">Southern Federal University<br>Russia</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Sedat Akleylek</b></p>
      <p class="designation">Ondokuz Mayis University and Institute of Applied Mathematics<br>Turkey</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Prof. Selwyn Piramuthu</b></p>
      <p class="designation">Department of Information Systems and Operations Management<br>University of Florida<br>Warrington College of Business<br>USA</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Rajeev Tiwari</b></p>
      <p class="designation">UPES<br>Dehradun<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Dmitry Namiot</b></p>
      <p class="designation">Faculty of Computational Mathematics and Cybernetics<br>Lomonosov Moscow State University<br>Russia</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Jibitesh Mishra</b></p>
      <p class="designation">College of Engineering & Technology<br>Bhubaneswar<br>India</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Victor Govindaswamy</b></p>
      <p class="designation">Department of Computer Science<br>Concordia University Chicago</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Thangadurai N</b></p>
      <p class="designation">Jain University<br>Bengaluru<br>Karnataka<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Prof. Amitabha Chakrabarty</b></p>
      <p class="designation">Dhaka<br>Bangladesh</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Muthukumar. S</b></p>
      <p class="designation">National Institute Of Technology<br>Puducherry<br>India</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Nisheeth Joshi</b></p>
      <p class="designation">Banasthali University<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Rasib Khan</b></p>
      <p class="designation">Dept. of Computer Science<br>Northern Kentucky University<br>Cayman Islands</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Shivnath Ghosh</b></p>
      <p class="designation">Maharana Pratap College Of Technology<br>Gwalior<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Ekaterina Maro</b></p>
      <p class="designation">Southern Federal University<br>Russia</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Prof. (Dr.) Aniurakt Williamson</b></p>
      <p class="designation">SMCET<br>Phagi<br>Jaipur</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. S. Leela Lakshmi</b></p>
      <p class="designation">SKIT<br>Srikalahasthi<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Saurabh Mukherjee</b></p>
      <p class="designation">Banasthali Vidyapeeth<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Mohiuddin Ahmed</b></p>
      <p class="designation">School of Engineering and Information Technology<br>University of New South Wales<br>Australia</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Anil Kumar Gupta</b></p>
      <p class="designation">ITIL V3, prince2<br>Pune Area<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Muhammad Mostafa Monowar</b></p>
      <p class="designation">Dept. of Information Technology<br>King Abdul-Aziz University<br>Jeddah<br>Saudi Arabia</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr Sanjay Bansal</b></p>
      <p class="designation">Acropolis Institute Of Technology & Research<br>Indore Area<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Prof. Jagannathan Sarangapani</b></p>
      <p class="designation">Electrical and Computer Engineering<br>Missouri University Of Science and Technology<br>Rolla<br>United States</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Bk Verma</b></p>
      <p class="designation">KVMT Engineering College<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Muhammad Mostafa Monowar</b></p>
      <p class="designation">Dept. of Information Technology King Abdul-Aziz University<br>Jeddah<br>Saudi Arabia</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Nurilla Avazov</b></p>
      <p class="designation">Inha University<br>Incheon<br>South Korea</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Jayanti Goyal</b></p>
      <p class="designation">Kanoria Girls PG College<br>Jaipur<br>India</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Nurilla Avazov</b></p>
      <p class="designation">Inha University<br>Incheon<br>South Korea</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Abhineet Anand</b></p>
      <p class="designation">Galgotias University<br>Uttar Pradesh<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Sukanta Ganguly</b></p>
      <p class="designation">Entryless, San Jose<br>California<br>United States</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. P K Gupta</b></p>
      <p class="designation">Post Doctorate From University Of Pretoria, South Africa<br>Sr. Assistant Professor At Jaypee University Of IT<br>India</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>M. M. Hafizur Rahman</b></p>
      <p class="designation">Dept. of Computer Science<br>International Islamic University<br>Malaysia</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. M. Shanmugasundaram</b></p>
      <p class="designation">R.M.K. College Of Engineering And Technology<br>Chennai<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr.	Xianglin Wei</b></p>
      <p class="designation">Nanjing Telecommunication Technology Research Institute<br>China</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Nilesh Bhaskarrao Bahadure</b></p>
      <p class="designation">Associate Professor and Dean Research & Development at BIT<br>Raipur<br>India</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Elena Basan</b></p>
      <p class="designation">Southern Federal University<br>Russia</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Maxim Anikeev</b></p>
      <p class="designation">Southern Federal University<br>Russia</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Pushpendra Singh</b></p>
      <p class="designation">JIIT<br>Uttar Pradesh<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Parag Narkhede</b></p>
      <p class="designation">Symbiosis Institute of Technology<br>Pune</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Snehanshu Shekhar</b></p>
      <p class="designation">BIT Mesra<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Ms. Ekaterina Pakulova</b></p>
      <p class="designation">Southern Federal University<br>Russia</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. G. S. Mahapatra</b></p>
      <p class="designation">National Institute Of Technology<br>Puducherry<br>India</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Mohiuddin Ahmed</b></p>
      <p class="designation">School of Engineering and Information Technology<br>University of New South Wales<br>Australia</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Wilfred Lin</b></p>
      <p class="designation">PuraPharm<br>Hong Kong</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Dr. Syed Hassan Ahmed</b></p>
      <p class="designation">Kyungpook National University<br>Daegu<br>South Korea</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Prof. Eduard Babulak</b></p>
      <p class="designation">Fort Hays State University<br>Hays<br>USA</p>
    </div>
    <div class="member">
      <p class="member-name"><b>Prof. Carlos Eduardo de Barros Paes</b></p>
      <p class="designation">PUC-SP<br>Sao Paulo<br>Brazil</p>
    </div>
  </div>

  <div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b>Dr. Aynur Unal</b></p>
      <p class="designation">San Francisco Bay<br>UK</p>
    </div>
  </div>
</div>
<%- include("./includes/footer") -%>







<!--

<div class="technical-committee-row">
    <div class="member">
      <p class="member-name"><b></b></p>
      <p class="designation"></p>
    </div>
    <div class="member">
      <p class="member-name"><b></b></p>
      <p class="designation"></p>
    </div>
    <div class="member">
      <p class="member-name"><b></b></p>
      <p class="designation"></p>
    </div>
    <div class="member">
      <p class="member-name"><b></b></p>
      <p class="designation"></p>
    </div>
  </div>

-->