<%- include("./includes/navbar") -%>
<header class="load-hidden">
  <h1>Contact</h1>
  <p>
    Get in touch with us for any Conference related issues or doubts
  </p>
</header>
<section>
  <div class="container">
    <div><%- include("./components/contact-form.ejs") -%></div>
  </div>
</section>
<%- include("./includes/footer") -%>
