<%- include("./includes/navbar") -%>
<header>
  <h1>Contact</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores earum,
    nobis laudantium, voluptatum iure voluptatibus ea
  </p>
</header>
<section>
  <div class="container">
    <div><%- include("./components/contact-form.ejs") -%></div>
  </div>
</section>
<%- include("./includes/footer") -%>
