<%- include("./includes/navbar") -%>
<header class="load-hidden">
  <h1>Credits</h1>
  <p>Meet the team that made this conference possible!</p>
</header>
<section class="credits-page">
  <%- include("./components/credits-list.ejs") -%>
</section>
<%- include("./includes/footer") -%>
