<%- include("./includes/navbar") -%>
<header class="load-hidden">
  <div
    class="header-image"
    style="background-image: url('/images/BannerImages/HomeBannerImage1.jpeg')"
  ></div>
  <h1>Gallery</h1>
  <p>Come, be a part of us!</p>
</header>
<section class="container">
  <div class="gallery-container">
    <div class="img">
      <img src="https://picsum.photos/300/200" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/400/300" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/300/200" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/400/500" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/400/400" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/500/300" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/500/400" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/300/400" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/500/500" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/300/400" alt="" />
    </div>

    <div class="img">
      <img src="https://picsum.photos/300/100" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/400/200" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/300/500" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/400/700" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/200/400" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/500/300" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/500/400" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/200/400" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/500/500" alt="" />
    </div>
    <div class="img">
      <img src="https://picsum.photos/300/300" alt="" />
    </div>
  </div>
</section>
<%- include("./includes/footer") -%>
