<%- include("./includes/navbar") -%>
<header class="home-header">
  <div class="container">
    <h1>SpacSec '21</h1>
    <div class="center">
      <p>
        1st International Conference on Cyber Warfare, Security & Space Research
      </p>
      <div class="d-flex text-center my-3">
        <div class="mx-3">
          Date <br />
          9th December 2021 <br />& 10th December 2021
        </div>
        <div class="mx-3">
          Venue <br />
          Manipal University Jaipur
        </div>
      </div>
    </div>
    <div class="my-3">
      <button class="mx-2 p-2 btn btn-primary">Register Now</button>
      <button class="mx-2 p-2 btn btn-outline-primary">Sponser</button>
    </div>
  </div>
</header>
<!-- sponsor -->
<section class="home-sponsors">spon</section>
<!-- about -->

<section class="container home-about">
  <h3>About the Conference</h3>
  <p>
    SpacSec’21 is an opportunity for researchers, educators, professionals,
    practitioners, Scientists, Satellite and space researchers, Space agency
    executives, Geophysicists, Spacecraft ground control operators, Agencies,
    Earth science researchers, Geologists, Spacecraft and satellite engineers,
    Satellite launch vehicle manufacturers/ operators, Marshals and admirals in
    army, artists and students around the world who are involved in the study,
    management, development, and implementation of systems and concepts to
    combat information warfare and all aspects of Space technology and research
    to come together and exchange ideas. There are several strong strands of
    research developing in the cyber warfare, cybersecurity, and space research
    area including the understanding of threats and risks to systems, the
    development of strong innovative culture, as well as incident detection, and
    post-incident investigation. New threats brought about by social networking
    and cloud computing are gaining interest from the research community and the
    conference is tackling these issues. It will provide a great opportunity for
    students and faculties worldwide to interact and share ideas with the
    top-notch in the field face to face. This knowledge sharing may inspire and
    thrill many young minds and help us bring collaborations and global partners
    to work together. This will enable us to solve challenging problems in our
    society so that we may contribute to our world. The whole idea of the forum
    is to exchange thoughts and ideas, transform those in real-time to solve the
    problems. The conference will also create awareness in students about the
    importance of scientific research in related fields and synchronizing with
    the product market.
  </p>
</section>

<!-- <section class="home-speakers">home-speakers</section> -->
<%- include("./includes/footer") -%>
