<%- include("./includes/navbar") -%>
<header class="home-header load-hidden">
  <div class="container">
    <h1>SpacSec '21</h1>
    <div class="center">
      <p>
        1<sup>st</sup> International Conference on Cyber Warfare, Security & Space Research
      </p>
      <div class="details d-flex text-center my-3">
        <div class="mx-3">
          <b> Date <br /> </b>
          9<sup>th</sup> December 2021 <br />& 10<sup>th</sup> December 2021
        </div>
        <div class="mx-3">
          <b> Venue <br /> </b>
          Manipal University Jaipur
        </div>
      </div>
    </div>
    <div class="my-3">
      <button class="mx-2 p-2 btn btn-primary">Register as an Attendee</button>
      <button class="mx-2 p-2 btn btn-outline-primary">Register as a Presenter</button>
    </div>
  </div>
</header>

<!-- sponsor -->
<section class="home-sponsors">
  <div class="sponsors">
    <div class="sponsor-row">
      <div class="sponsor">
        <p class="sponsor-description">Technical Sponsor</p>
        <p class="sponsor-name">Springer</p>
        <a class="sponsor-link" href="https://www.springer.com/" target="_blank"><img class="sponsor-img-1" src="/images/technical-sponsor.jpeg" alt="Springer"></a>
      </div>
      <div class="sponsor">
        <p class="sponsor-description">Financial Sponsor</p>
        <p class="sponsor-name">Manipal University Jaipur</p>
        <a class="sponsor-link" href="https://jaipur.manipal.edu/" target="_blank"><img class="sponsor-img-2" src="/images/financial-sponsor.png" alt="Manipal University Jaipur"></a>
      </div>
    </div>
  </div>
</section>
<!-- about -->

<section class="container home-about">
  <h3>About the Conference</h3>
  <p>
    SpacSec’21 is an opportunity for Researchers, Educators, Professionals,
    practitioners, Scientists, Satellite and Space researchers, Space agency
    executives, Geophysicists, Spacecraft ground control operators, Agencies,
    Earth science researchers, Geologists, Spacecraft and satellite engineers,
    Satellite launch vehicle manufacturers/ operators, Marshals and admirals in
    army, artists and students around the world who are involved in the study,
    management, development, and implementation of systems and concepts to
    combat information warfare and all aspects of Space technology and research
    to come together and exchange ideas.
  </p>
  <div class="collapse" id="collapseExample">
    <p>
      There are several strong strands of research developing in the cyber
      warfare, cybersecurity, and space research area including the understanding
      of threats and risks to systems, the development of strong innovative
      culture, as well as incident detection, and post-incident investigation. New
      threats brought about by social networking and cloud computing are gaining
      interest from the research community and the conference is tackling these
      issues.
    </p>
    <p>
      It will provide a great opportunity for students and faculties worldwide to
      interact and share ideas with the top-notch in the field face to face. This
      knowledge sharing may inspire and thrill many young minds and help us bring
      collaborations and global partners to work together. This will enable us to
      solve challenging problems in our society so that we may contribute to our
      world.
    </p>
    <p>
      The whole idea of the forum is to exchange thoughts and ideas, transform
      those in real-time to solve the problems. The conference will also create
      awareness in students about the importance of scientific research in related
      fields and synchronizing with the product market.
    </p>
  </div>
  <div class="read-more">
    <input class="btn btn-primary read-more-btn" id="read-more-btn" onclick="change()" value="Read More" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    </input>
  </div>
</section>

<section class="home-speakers">
  <div class="container">
    <h3>Speakers</h3>
    <%- include("./components/speaker-list.ejs") -%>
  </div>
</section>
<section class="home-form">
  <div class="container">
    <div>
      <%- include("./components/contact-form.ejs") -%>
    </div>
</section>
 <!-- toast -->
  <% if(success === "true") { %>
    <% console.log("h"); %>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto">Message Sent Successfully</strong>
  </div>
  <div class="toast-body">
    Thanks for sending the message, we will get back to you as soon as possible
  </div>
</div>
<% } %>
<%- include("./includes/footer") -%>
