<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="css/styles.css" />

    <title>SpacSec'21</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
    <!-- navbar -->
    <a class="navbar-brand" href="#">
      <!-- <img src="images/logow.png" alt="" style="width: 1.5rem;" /> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-target=".navbar-collapse.in">Tracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-target=".navbar-collapse.in">Speakers</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="#" data-target=".navbar-collapse.in">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-target=".navbar-collapse.in">Author Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-target=".navbar-collapse.in">Committee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-target=".navbar-collapse.in">Contact</a>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-primary" href="#" data-target=".navbar-collapse.in">Contact</button>
        </li>
      </ul>
    </div>
    </nav>
  </body>
</html>