<%- include("./includes/navbar") -%>
<header class="load-hidden not-found-header">
  <div
    class="header-image"
    style="
      background-image: url('https://source.unsplash.com/oxgK2f_rxDc/1920x1080');
    "
  ></div>
  <h1>404 - NOT FOUND</h1>
  <p>Sorry, we can’t find the page you were looking for.</p>
  <a href="/" class="btn btn-outline-light">Go back to Home</a>
</header>
<%- include("./includes/footer") -%>
