<%- include("./includes/navbar") -%>
<header class="load-hidden">
  <div
    class="header-image"
    style="background-image: url('/images/BannerImages/HomeBannerImage1.jpeg')"
  ></div>
  <h1>Register</h1>
  <p>Come, be a part of us! Coming soon!</p>
</header>
<%- include("./includes/footer") -%>
