<%- include("./includes/navbar") -%>
<header class="load-hidden">
  <div
    class="header-image"
    style="background-image: url('/images/BannerImages/HomeBannerImage1.jpeg')"
  ></div>
  <h1>Register</h1>
  <p>Come, be a part of us!</p>
</header>
<section class="reg-pricing">
  <h3>Registration Pricing</h3>
  <table class="reg-pricing-table">
    <tr>
      <th><h4>Delegates</h4></th>
      <th><h4>Amount<br><sub>(Oral Paper Presentation)</sub></h4></th>
    </tr>
    <tr>
      <td>Faculty/Author from Academics</td>
      <td>3500 INR</td>
    </tr>
    <tr>
      <td>Delegates from Industry</td>
      <td>4500 INR</td>
    </tr>
    <tr>
      <td>Students (PG/UG)</td>
      <td>3000 INR</td>
    </tr>
    <tr>
      <td>Foreign Author</td>
      <td>250 USD</td>
    </tr>
    <tr>
      <td>Foreign Author (Virtual Presentation)</td>
      <td>120 USD</td>
    </tr>
    <tr>
      <td>Listener</td>
      <td>1000 INR</td>
    </tr>
  </table>
</section>
<section class="reg-steps">
  <h3>Registration Process</h3>
  <h4>Complete the undermentioned steps to Register:</h4>
  <ul class="steps-pc">
    <li>Step 1: <a href="#" class="mx-2 p-2 btn btn-primary">Make Fee Payment</a></li>
    <li>Step 2: <a href="https://forms.gle/MEUZPRioW5ZAgagw9" class="mx-2 p-2 btn btn-primary">Fill Registration Form</a></li>
    <li>Step 3: <a href="https://forms.gle/QWZJRPeFvY5qkEP16" class="mx-2 p-2 btn btn-primary">Camera Ready and Consent Form submission</a></li>
  </ul>
  <ul class="steps-mob">
    <li>Step 1: <a href="#" class="mx-2 p-2 btn btn-primary">Make Fee Payment</a></li>
    <li>Step 2: <a href="https://forms.gle/MEUZPRioW5ZAgagw9" class="mx-2 p-2 btn btn-primary">Fill Registration<br>Form</a></li>
    <li>Step 3: <a href="https://forms.gle/QWZJRPeFvY5qkEP16" class="mx-2 p-2 btn btn-primary">Camera Ready and<br>Consent Form<br>submission</a></li>
  </ul>
  <h6>In case of any Payment issue Contact: 9799606918</h6>
</section>
<%- include("./includes/footer") -%>
