<%- include("./includes/navbar") -%>
<header class="load-hidden">
  <div
    class="header-image"
    style="
      background-image: url('/images/BannerImages/ScheduleBannerImage.jpeg');
    "
  ></div>
  <h1>Schedule</h1>
  <p>Timeline of the Conference</p>
</header>
<div class="schedule">
  <div class="container">
    <div class="roadmap-path"></div>
    <div class="timeline">
      <div class="timeline-row">
        <div class="date">
          <b>1<sup>st</sup></b
          ><br />
          Jan 2021
        </div>
        <div class="roadmap-point"></div>
        <div class="event">
          <b>Call for Papers</b><br />
          <p class="event-description">
            Submission of the papers begins from 1st January 2021. <br />
            Researchers can submit their papers keeping in mind the publication
            policies and guidelines.
          </p>
        </div>
      </div>
      <div class="timeline-row">
        <div class="date">
          <b>30<sup>th</sup></b
          ><br />
          June 2021
        </div>
        <div class="roadmap-point"></div>
        <div class="event">
          <b>Last Date of Paper Submission</b><br />
          <p class="event-description">
            The researchers need to submit the papers on/ before 30th June 2021.
          </p>
        </div>
      </div>
      <div class="timeline-row">
        <div class="date">
          <b>15<sup>th</sup></b
          ><br />
          July 2021
        </div>
        <div class="roadmap-point"></div>
        <div class="event">
          <b>Notification of Acceptance</b><br />
          <p class="event-description">
            A notification will be sent by 15th July 2021 to those whose papers
            have been accepted .
          </p>
        </div>
      </div>
      <div class="timeline-row">
        <div class="date">
          <b>1<sup>st</sup></b
          ><br />
          Sept 2021
        </div>
        <div class="roadmap-point"></div>
        <div class="event">
          <b>Registration Start Date</b><br />
          <p class="event-description">
            Once the papers have been accepted, the registrations for the
            conference will begin on 1st September 2021.
          </p>
        </div>
      </div>
      <div class="timeline-row">
        <div class="date">
          <b>25<sup>th</sup></b
          ><br />
          Sept 2021
        </div>
        <div class="roadmap-point"></div>
        <div class="event">
          <b>Registration End Date</b><br />
          <p class="event-description">
            The last date for registering for the conference is 25th September
            2021.
          </p>
        </div>
      </div>
      <div class="timeline-row">
        <div class="date">
          <b>30<sup>th</sup></b
          ><br />
          Sept 2021
        </div>
        <div class="roadmap-point"></div>
        <div class="event">
          <b>Last Date of Camera Ready Paper Submission</b><br />
          <p class="event-description">
            The camera ready paper submissions shall be done on/before 30th
            September 2021.
          </p>
        </div>
      </div>
      <div class="timeline-row">
        <div class="date">
          <b>9<sup>th</sup></b
          ><br />
          Dec 2021
        </div>
        <div class="roadmap-point"></div>
        <div class="event">
          <b>Conference - Day 1</b><br />
          <p class="event-description">
            The much awaited SpacSec’21 begins on 9th December 2021 hosting
            researchers from around the world to interact and share ideas with
            the top-notch in the field.
          </p>
        </div>
      </div>
      <div class="timeline-row">
        <div class="date">
          <b>10<sup>th</sup></b
          ><br />
          Dec 2021
        </div>
        <div class="roadmap-point"></div>
        <div class="event">
          <b>Conference - Day 2</b><br />
          <p class="event-description">
            The conference concludes on 10th December 2021 after sharing umpteen
            ideas and creating awareness about cyber warfare, security and space
            research.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./includes/footer") -%>
