<%- include("./includes/navbar") -%>
<header>
    <h1><b>Speakers</b></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores earum, nobis laudantium, voluptatum iure voluptatibus ea</p>
</header>
<div class="speakers">
    <div class="speakers-r">
        <div class="speaker-card">
            <div class="card" style="width: 18rem;">
                <img src="speaker.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Card title</b></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary"><b>Go somewhere</b></a>
                  </div>
            </div>
        </div>
        <div class="speaker-card">
            <div class="card" style="width: 18rem;">
                <img src="speaker.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Card title</b></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary"><b>Go somewhere</b></a>
                  </div>
            </div>
        </div>
        <div class="speaker-card">
            <div class="card" style="width: 18rem;">
                <img src="speaker.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Card title</b></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary"><b>Go somewhere</b></a>
                  </div>
            </div>
        </div>
    </div>
    <div class="speakers-r">
        <div class="speaker-card">
            <div class="card" style="width: 18rem;">
                <img src="speaker.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Card title</b></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary"><b>Go somewhere</b></a>
                  </div>
            </div>
        </div>
        <div class="speaker-card">
            <div class="card" style="width: 18rem;">
                <img src="speaker.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Card title</b></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary"><b>Go somewhere</b></a>
                  </div>
            </div>
        </div>
        <div class="speaker-card">
            <div class="card" style="width: 18rem;">
                <img src="speaker.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b>Card title</b></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary"><b>Go somewhere</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./includes/footer") -%>
