<%- include("./includes/navbar") -%>
<header class="load-hidden">
  <div
    class="header-image"
    style="
      background-image: url('https://source.unsplash.com/XJXWbfSo2f0/1920x1080');
    "
  ></div>
  <h1>Speakers</h1>
  <p>Our distinguished Guest Speakers to fire up the Event!</p>
</header>
<section class="speaker-page">
  <%- include("./components/speaker-list.ejs") -%>
</section>
<%- include("./includes/footer") -%>
