<%- include("./includes/navbar") -%>
<header class="load-hidden speakers-header">
  <h1>Speakers</h1>
  <p>
    Our distinguished Guest Speakers to fire up the Event!
  </p>
</header>
<section class="speaker-page">
  <%- include("./components/speaker-list.ejs") -%>
</section>
<%- include("./includes/footer") -%>
