<%- include("./includes/navbar") -%>

<header class="load-hidden">
    <div 
        class="header-image"
        style="
            background-image: url('/images/BannerImages/SpecialSessionBannerImage.jpg');
        "
    ></div>
    <h1>Special Session</h1>
    <p>
        Hang in there for a Surprise!
    </p>    
</header>

<section class="special container">
    <h3>Invite to Special Session</h3>
    <br>
    <article class="session-details">
        <article class="session-article">
            <h5 class="session-article-head">Author’s Paper Submission Guidelines</h5>
            <p>
                SpacSec'21 invites proposals for special sessions to be held on 5 - 6 October 2021 
                at Manipal University Jaipur. The special session's objective is to have 
                quality-specific theme-based submission as per the topic of the special session. 
                Although the coverage area will have a wide variety few focused spots will be:
                <br>
                <div class="special-ul">
                    <h5>Cyberwarfare & Security</h5>
                    <ul>
                        <li>Blockchain</li> 
                        <li>Formal Security Methods</li>
                        <li>Security Architectures and Models</li>
                        <li>Software and Systems Security</li>
                        <li>Cyberspace: The New Battlefield</li>
                        <li>Social networking threats</li>
                        <li>Psychological Warfare</li>
                        <li>Digital Forensics</li>
                    </ul>
                </div>
                <div class="special-ul">
                    <h5>Space Research</h5>
                    <ul>
                        <li>Sensor network</li>
                        <li>Remote Sensing: Land, Ocean, Atmosphere, and space</li>
                        <li>Astronomy & Astrophysics</li>
                        <li>Space vehicle Navigation and control</li>
                        <li>Space craft dynamics</li>
                        <li>Satellite Communication and Signal Processing</li>
                        <li>Quantum Computing and key Distribution</li>
                        <li>Quantum Cryptography</li>
                    </ul>
                </div>
                <br><br>
            </p>
        </article>
        <article class="session-article">
            <h5 class="session-article-head">Criteria for Selection</h5>
            <p>
                <ul>
                    <li>
                        All the proposals will be carefully reviewed by the conference TPC committee and will 
                        be critically analyzed before final selection.
                    </li>
                    <li>
                        The person(s) conducting the special session will be entitled as Session/Track chair(s) 
                        for their respective sessions. However, there can be no more than two persons hosting 
                        the session.
                    </li>
                    <li>
                        Upon selection of the proposal, track chair(s) must furnish the details of the reviewing 
                        committee members (4-5), that will be reviewing the manuscripts.
                    </li>
                    <li>
                        For creation of a special session, there must be at least 5 papers registered in the 
                session.
                    </li>
                </ul>
                <br>
            </p>
        </article>
        <article class="session-article">
            <h5 class="session-article-head">Role of Track chair(s)</h5>
            <p>
                <ul>
                    <li>
                        Track chairs have the responsibility of conducting the manuscript and getting reviews 
                        on them (at least two).
                    </li>
                    <li>
                        Track chairs must ensure the quality of submissions as the TPC committee may intervene 
                        and alter the decisions of track chairs in case of a poor quality paper.
                    </li>
                    <li>
                        Track chairs have to ensure the registration of the selected manuscripts at least 20 
                        days before the conference date.
                    </li>
                    <li>
                        All the submissions have to be made in Easy Chair Portal and the track chairs must 
                        keep a track of the paper ids of the submissions.
                    </li>
                </ul>
                <br>
            </p>
        </article>
        <article class="session-article">
            <h5 class="session-article-head">Benefits of Track Chair</h5>
            <p>
                <ul>
                    <li>
                        Track chairs as token of honor will be given the certificate and memento.
                    </li>
                    <li>
                        Track chairs will be given a free complementary registration as an author/attendee at the 
                        conference.
                    </li>
                    <li>
                        Track chairs will be given local hospitality and accommodation at the conference venue.
                    </li>
                </ul>
                <br>
            </p>
        </article>
        <article class="session-article">
            <div class="special-template-pc">
                <a href="#" class="mx-2 p-2 btn btn-primary">Click Here</a> to get template for special session request form.
                <br><br><br>
            </div>
            <div class="special-template-mob">
                <a href="#" class="mx-2 p-2 btn btn-primary">Click Here</a><br>to get template for special<br>session request form.
                <br><br><br>
            </div>
        </article>
        <article class="session-article">
            <h6>
                As per the above declarations, please mail your proposal at <a href="mailto:spacsec21@gmail.com" target="_blank">spacsec21@gmail.com</a> 
                along with your resume. Also specify if you have conducted any conference or special session in 
                any conference in the past.
            </h6>
        </article>
    </article>
    
</section>







<%- include("./includes/footer") -%>