<%- include("./includes/navbar") -%>

<header class="load-hidden">
  <div
    class="header-image"
    style="
      background-image: url('https://source.unsplash.com/CpHNKNRwXps/1920x1080');
    "
  ></div>
  <h1>Tracks</h1>
  <p>
    The conference has 3 tracks - Cyber Warfare, Cyber Security and Space
    Research
  </p>
</header>

<section class="tracks">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="cyber-warfare-tab"
        data-toggle="tab"
        href="#cyber-warfare"
        role="tab"
        >Cyber Warfare</a
      >
      <a
        class="nav-item nav-link"
        id="security-tab"
        data-toggle="tab"
        href="#security"
        role="tab"
        >Cyber Security</a
      >
      <a
        class="nav-item nav-link"
        id="space-research-tab"
        data-toggle="tab"
        href="#space-research"
        role="tab"
        >Space Research</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <section
      class="container tab-pane fade show active"
      id="cyber-warfare"
      role="tabpanel"
    >
      <div class="track-info">
        <div>
          <h3>Cyberwarfare</h3>
          <p>
            Cyberwarfare refers to the use of digital attacks like computer
            viruses and hacking by one country to disrupt the vital computer
            systems of another, with the aim of creating damage, death and
            destruction.
          </p>
          <p>
            Future wars will see hackers using computer code to attack an
            enemy's infrastructure, fighting alongside troops using conventional
            weapons like guns and missiles.
          </p>
        </div>
        <div>
          <h3>Topics</h3>
          • Cyber Warfare <br />
          • Cyber Defence <br />
          • Cyber Terrorism <br />
          • Cyber Crime <br />
          • Cyberspace: The New Battlefield <br />
          • Cyber Manoeuvre Warfare <br />
          • Social networking threats <br />
          • Psychological Warfare <br />
          • Digital Forensics <br />
          • State-Sponsored Cyber Attack <br />
        </div>
      </div>
    </section>
    <section
      class="container tab-pane fade"
      id="security"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="track-info">
        <div>
          <h3>Cyber security</h3>
          <p>
            Cyber security is the practice of defending computers, servers,
            mobile devices, electronic systems, networks, and data from
            malicious attacks. It's also known as information technology
            security or electronic information security.
          </p>
        </div>
        <div>
          <h3>Topics</h3>
          • Anonymity and Privacy <br />
          • Applied Cryptography and Implementations <br />
          • Authentication, Identification and Access Control <br />
          • Complexity-Theoretic Cryptography <br />
          • Cloud Computing Security <br />
          • Cloud Security <br />
          • Big Data Security <br />
          • Blockchain Security <br />
          • Distributed Systems Security <br />
          • Formal Security Methods <br />
          • Information-Theoretic Security <br />
          • Network, Web and Wireless Security <br />
          • Physical Cryptography <br />
          • Security Architectures and Models <br />
          • Software and Systems Security <br />
        </div>
      </div>
    </section>
    <section
      class="container tab-pane fade"
      id="space-research"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      <div class="track-info">
        <div>
          <!-- <h3>3Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
          voluptatum in fuga, voluptatibus id quidem consectetur error aliquam
          velit ad culpa molestias nobis vero saepe fugiat rem repudiandae
          consequatur ratione.
        </div> -->
          <div>
            <h3>Space Research</h3>
            • Space science, including space and atmospheric physics, Earth
            observation and remote sensing from/of space, planetary sciences,
            astrobiology, and life sciences, and space-based astronomy and
            astrophysics <br />
            <br />
            • Space engineering and technology, including communications,
            navigation, space operations, propulsion, and spacecraft design,
            testing, and implementation <br />
            <br />
            • Space industry <br />
            <br />
            • Space archaeology and indigenous sky knowledge (or
            archeo-astronomy)
            <br />
            <br />
            • Space situational awareness (SSA) <br />
            <br />
            • Current and future space projects <br />
            <br />
            • Government, international relations and law <br />
            <br />
            • Education and outreach <br />
            <br />
            • Computing: High-Performance Computing / Computer Vision and Image
            Processing / Artificial Intelligence and Machine Learning <br />
            <br />
            • Network: Embedded Systems and Internet of Things/ Wireless Adhoc
            Network / Satellite Communication and Signal Processing <br />
            <br />
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<%- include("./includes/footer") -%>
