<%- include("./includes/navbar") -%>

<header class="load-hidden">
  <div
    class="header-image"
    style="background-image: url('/images/BannerImages/TracksBannerImage.jpeg')"
  ></div>
  <h1>Tracks</h1>
  <p>
    The conference has 2 tracks - Cyber Warfare & Security and Space Research
  </p>
</header>

<section class="tracks">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="cyber-warfare-tab"
        data-toggle="tab"
        href="#cyber-warfare"
        role="tab"
        >Cyber Warfare & Security</a
      >
      
      <a
        class="nav-item nav-link"
        id="space-research-tab"
        data-toggle="tab"
        href="#space-research"
        role="tab"
        >Space Research</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <section
      class="container tab-pane fade show active"
      id="cyber-warfare"
      role="tabpanel"
    >
      <div class="track-info">
        <div>
          <h3>Cyberwarfare & Cyber Security</h3>
          <p>
            Cyberwarfare refers to the use of digital attacks like computer
            viruses and hacking by one country to disrupt the vital computer
            systems of another, with the aim of creating damage, death and
            destruction.
          </p>
          <p>
            Future wars will see hackers using computer code to attack an
            enemy's infrastructure, fighting alongside troops using conventional
            weapons like guns and missiles.
          </p>
          <p>
            Cyber security is the practice of defending computers, servers,
            mobile devices, electronic systems, networks, and data from
            malicious attacks. It's also known as information technology
            security or electronic information security.
          </p>
        </div>
        <div>
          <h3>Topics</h3>
          •	Cryptography  <br />
          •	Cloud Computing  <br />
          •	Big Data  <br />
          •	Blockchain  <br />
          •	Distributed Systems  <br />
          •	Formal Security Methods <br />
          •	Network, Web and Wireless Security <br />
          •	Security Architectures and Models <br />
          •	Software and Systems Security <br />
          •	Cyber Crime <br />
          •	Cyberspace: The New Battlefield <br />
          •	Social networking threats <br />
          •	Psychological Warfare <br />
          •	Digital Forensics <br />
        </div>
      </div>
    </section>
    <!-- <section
      class="container tab-pane fade"
      id="security"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="track-info">
        <div>
          <h3>Cyber security</h3>
          <p>
            Cyber security is the practice of defending computers, servers,
            mobile devices, electronic systems, networks, and data from
            malicious attacks. It's also known as information technology
            security or electronic information security.
          </p>
        </div>
        <div>
          <h3>Topics</h3>
          • Anonymity and Privacy <br />
          • Applied Cryptography and Implementations <br />
          • Authentication, Identification and Access Control <br />
          • Complexity-Theoretic Cryptography <br />
          • Cloud Computing Security <br />
          • Cloud Security <br />
          • Big Data Security <br />
          • Blockchain Security <br />
          • Distributed Systems Security <br />
          • Formal Security Methods <br />
          • Information-Theoretic Security <br />
          • Network, Web and Wireless Security <br />
          • Physical Cryptography <br />
          • Security Architectures and Models <br />
          • Software and Systems Security <br />
        </div>
      </div>
    </section> -->
    <section
      class="container tab-pane fade"
      id="space-research"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      <div class="track-info">
        <div>
          <!-- <h3>3Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
          voluptatum in fuga, voluptatibus id quidem consectetur error aliquam
          velit ad culpa molestias nobis vero saepe fugiat rem repudiandae
          consequatur ratione.
        </div> -->
        <h3>Space Research</h3>
            Space science, including space and atmospheric physics, Earth
            observation and remote sensing from/of space, planetary sciences,
            astrobiology, and life sciences, and space-based astronomy and
            astrophysics.
        <div>
          <h3>Topics</h3>
          •	Remote Sensing: Land, Ocean, Atmosphere, and space  <br />
          •	Space vehicle Navigation and control  <br />
          •	Satellite payloads and motion control <br />
          •	Satellite Communication and Signal Processing <br />
          •	Telecommunication for Space <br />
          •	Computer Vision for Space exploration  <br />
          •	Artificial Intelligence / Machine Learning in Space System/ Applications <br />
          •	Quantum Technologies in Space Communication & Networking <br />
          <!-- •	Atmospheric Science <br />
          •	Space vehicle Navigation and control <br />
          •	Space craft dynamics <br />
          •	Satellite payloads and motion control <br />
          •	Satellite Communication and Signal Processing <br />
          •	Quantum Computing and key Distribution <br />
          •	Quantum Cryptography <br /> -->
        </div>
      </div>
    </div>
  </section>
</section>
<%- include("./includes/footer") -%>
