<%- include("./includes/navbar") -%>

<header>
    <h1><b>Tracks</b></h1>
    <p>1st International Conference on Cyber Warfare, Security & Space Research</p>
</header>

<div class="tabs">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#1">Cyber Warfare</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#2">Security</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#2">Cyber Warfare</a>
        </li>
    </ul>
</div>
<div class="tab" id="#1">
    <h3 class="tab-heading"><b>Cyber Warfare</b></h3>
    <div class="tab-carousel">
        <div class="tab-content">
            <h6 class="tab-content-heading"><b>Lorem ipsum dolor sit amet</b></h5>
            <p class="tab-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ducimus architecto hic autem ullam illo et, iusto tempora consequuntur nesciunt id voluptatem, labore itaque aspernatur corrupti! Rerum alias ratione consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic, natus ad facilis expedita reprehenderit quo fuga atque, error ut necessitatibus dicta perspiciatis illo. Rerum provident sapiente perspiciatis quas numquam.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur explicabo iusto volup quidem corporis beatae eaque fugit distinctio, magnam hic suscipit quibusdam reprehenderit voluptas ipsa doloribus laboriosam omnis mollitia?</p>
        </div>

        <div class="tab-content">
            <h6 class="tab-content-heading"><b>Lorem ipsum dolor sit amet</b></h5>
            <p class="tab-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ducimus architecto hic autem ullam illo et, iusto tempora consequuntur nesciunt id voluptatem, labore itaque aspernatur corrupti! Rerum alias ratione consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic, natus ad facilis expedita reprehenderit quo fuga atque, error ut necessitatibus dicta perspiciatis illo. Rerum provident sapiente perspiciatis quas numquam.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur explicabo iusto volup quidem corporis beatae eaque fugit distinctio, magnam hic suscipit quibusdam reprehenderit voluptas ipsa doloribus laboriosam omnis mollitia?</p>
        </div>

        <div class="tab-content">
            <h6 class="tab-content-heading"><b>Lorem ipsum dolor sit amet</b></h5>
            <p class="tab-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ducimus architecto hic autem ullam illo et, iusto tempora consequuntur nesciunt id voluptatem, labore itaque aspernatur corrupti! Rerum alias ratione consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic, natus ad facilis expedita reprehenderit quo fuga atque, error ut necessitatibus dicta perspiciatis illo. Rerum provident sapiente perspiciatis quas numquam.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur explicabo iusto volup quidem corporis beatae eaque fugit distinctio, magnam hic suscipit quibusdam reprehenderit voluptas ipsa doloribus laboriosam omnis mollitia?</p>    
        </div>
    </div>    
</div>
<div class="tab" id="#2">
    <h3 class="tab-heading"><b>Security</b></h3>
    <div class="tab-carousel">
        <div class="tab-content">
            <h6 class="tab-content-heading"><b>Lorem ipsum dolor sit amet</b></h5>
            <p class="tab-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ducimus architecto hic autem ullam illo et, iusto tempora consequuntur nesciunt id voluptatem, labore itaque aspernatur corrupti! Rerum alias ratione consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic, natus ad facilis expedita reprehenderit quo fuga atque, error ut necessitatibus dicta perspiciatis illo. Rerum provident sapiente perspiciatis quas numquam.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur explicabo iusto volup quidem corporis beatae eaque fugit distinctio, magnam hic suscipit quibusdam reprehenderit voluptas ipsa doloribus laboriosam omnis mollitia?</p>
        </div>

        <div class="tab-content">
            <h6 class="tab-content-heading"><b>Lorem ipsum dolor sit amet</b></h5>
            <p class="tab-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ducimus architecto hic autem ullam illo et, iusto tempora consequuntur nesciunt id voluptatem, labore itaque aspernatur corrupti! Rerum alias ratione consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic, natus ad facilis expedita reprehenderit quo fuga atque, error ut necessitatibus dicta perspiciatis illo. Rerum provident sapiente perspiciatis quas numquam.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur explicabo iusto volup quidem corporis beatae eaque fugit distinctio, magnam hic suscipit quibusdam reprehenderit voluptas ipsa doloribus laboriosam omnis mollitia?</p>
        </div>

        <div class="tab-content">
            <h6 class="tab-content-heading"><b>Lorem ipsum dolor sit amet</b></h5>
            <p class="tab-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ducimus architecto hic autem ullam illo et, iusto tempora consequuntur nesciunt id voluptatem, labore itaque aspernatur corrupti! Rerum alias ratione consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic, natus ad facilis expedita reprehenderit quo fuga atque, error ut necessitatibus dicta perspiciatis illo. Rerum provident sapiente perspiciatis quas numquam.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur explicabo iusto volup quidem corporis beatae eaque fugit distinctio, magnam hic suscipit quibusdam reprehenderit voluptas ipsa doloribus laboriosam omnis mollitia?</p>    
        </div>
    </div>    
</div>
<div class="tab" id="#3">
    <h3 class="tab-heading"><b>Cyber Warfare</b></h3>
    <div class="tab-carousel">
        <div class="tab-content">
            <h6 class="tab-content-heading"><b>Lorem ipsum dolor sit amet</b></h5>
            <p class="tab-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ducimus architecto hic autem ullam illo et, iusto tempora consequuntur nesciunt id voluptatem, labore itaque aspernatur corrupti! Rerum alias ratione consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic, natus ad facilis expedita reprehenderit quo fuga atque, error ut necessitatibus dicta perspiciatis illo. Rerum provident sapiente perspiciatis quas numquam.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur explicabo iusto volup quidem corporis beatae eaque fugit distinctio, magnam hic suscipit quibusdam reprehenderit voluptas ipsa doloribus laboriosam omnis mollitia?</p>
        </div>

        <div class="tab-content">
            <h6 class="tab-content-heading"><b>Lorem ipsum dolor sit amet</b></h5>
            <p class="tab-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ducimus architecto hic autem ullam illo et, iusto tempora consequuntur nesciunt id voluptatem, labore itaque aspernatur corrupti! Rerum alias ratione consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic, natus ad facilis expedita reprehenderit quo fuga atque, error ut necessitatibus dicta perspiciatis illo. Rerum provident sapiente perspiciatis quas numquam.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur explicabo iusto volup quidem corporis beatae eaque fugit distinctio, magnam hic suscipit quibusdam reprehenderit voluptas ipsa doloribus laboriosam omnis mollitia?</p>
        </div>

        <div class="tab-content">
            <h6 class="tab-content-heading"><b>Lorem ipsum dolor sit amet</b></h5>
            <p class="tab-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ducimus architecto hic autem ullam illo et, iusto tempora consequuntur nesciunt id voluptatem, labore itaque aspernatur corrupti! Rerum alias ratione consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic, natus ad facilis expedita reprehenderit quo fuga atque, error ut necessitatibus dicta perspiciatis illo. Rerum provident sapiente perspiciatis quas numquam.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur explicabo iusto volup quidem corporis beatae eaque fugit distinctio, magnam hic suscipit quibusdam reprehenderit voluptas ipsa doloribus laboriosam omnis mollitia?</p>    
        </div>
    </div>    
</div>
<%- include("./includes/footer") -%>