<%- include("./includes/navbar") -%>

<header>
  <h1>Tracks</h1>
  <p>
    1st International Conference on Cyber Warfare, Security & Space Research
  </p>
</header>

<div class="tracks container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="cyber-warfare-tab"
        data-toggle="tab"
        href="#cyber-warfare"
        role="tab"
        >Cyber Warfare</a
      >
      <a
        class="nav-item nav-link"
        id="security-tab"
        data-toggle="tab"
        href="#security"
        role="tab"
        >Security</a
      >
      <a
        class="nav-item nav-link"
        id="space-research-tab"
        data-toggle="tab"
        href="#space-research"
        role="tab"
        >Space Research</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="cyber-warfare" role="tabpanel">
      <div class="track-info">
        <div>
          <h3>1Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
          voluptatum in fuga, voluptatibus id quidem consectetur error aliquam
          velit ad culpa molestias nobis vero saepe fugiat rem repudiandae
          consequatur ratione.
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempore
          doloribus quam magnam excepturi sequi perspiciatis? Eum magni vel
          soluta!
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempore
          doloribus quam magnam excepturi sequi perspiciatis? Eum magni vel
          soluta!
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="security"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="track-info">
        <div>
          <h3>2Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
          voluptatum in fuga, voluptatibus id quidem consectetur error aliquam
          velit ad culpa molestias nobis vero saepe fugiat rem repudiandae
          consequatur ratione.
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempore
          doloribus quam magnam excepturi sequi perspiciatis? Eum magni vel
          soluta!
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempore
          doloribus quam magnam excepturi sequi perspiciatis? Eum magni vel
          soluta!
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="space-research"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      <div class="track-info">
        <div>
          <h3>3Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
          voluptatum in fuga, voluptatibus id quidem consectetur error aliquam
          velit ad culpa molestias nobis vero saepe fugiat rem repudiandae
          consequatur ratione.
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempore
          doloribus quam magnam excepturi sequi perspiciatis? Eum magni vel
          soluta!
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet.</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempore
          doloribus quam magnam excepturi sequi perspiciatis? Eum magni vel
          soluta!
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./includes/footer") -%>
