<%- include("./includes/navbar") -%>

<header>
    <h1><b>Tracks</b></h1>
    <p>1st International Conference on Cyber Warfare, Security & Space Research</p>
</header>

<div class="tabs">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Cyber Warfare</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Security</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Cyber Warfare</a>
        </li>
    </ul>
</div>

<%- include("./includes/footer") -%>