body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* navbar */
.navbar {
  min-height: 5rem;
  padding: 1rem;
  font-weight: bold;
}
.nav-cta {
  color: white;
  font-weight: bold;
}

/* header */
header {
  margin-top: 5rem;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 800;
}

header p {
  color: #5d5d5d;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  width: 400px;
  text-align: center;
}

/* tabs */
.tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.nav-tabs .nav-item,
.nav-tabs {
  border: none;
}
.nav-tabs .active {
  font-weight: bold;
}
.track-info {
  display: flex;
  margin-top: 2rem;
}

/* speakers */
.speakers {
  display: flex;
  flex-direction: column;
}

.speakers-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.speaker-card {
  margin: 2rem;
}

.card-body {
  border-radius: 8px;
}

/* .speakers .speakers-r .speaker-card .card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
} */

.speakers-head {
  /* background-image: url("../speaker-head.jpg"); */
}

/* footer */
footer {
  height: 40vh;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 4rem 0;
  bottom: 0;
  right: 0;
}

@media (min-width: 1200px) {
}
