body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",
        sans-serif;
}

/* navbar */
.navbar {
    min-height: 5rem;
    padding: 1rem;
    font-weight: bold;
}
.nav-cta {
    color: white;
    font-weight: bold;
}
/* header */
header {
    margin-top: 5rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;;
}

header h1 {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 64px;
}

header p {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    width: 400px;
    text-align: center;
}

/* footer */
.footer {
    height: 40vh;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 4rem 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

@media (min-width: 1200px) {
   
}